body {
    margin-bottom: 100px;
}
th { 
    font-weight: bold;
    color: white;
    background-color: black;
}

td, tr, table {
    border: 1px solid grey;
    border-collapse:collapse;
}

td {
    padding: 10px;
}