body {
    margin-bottom: 100px;
}

.container {
    display: flex;
    flex-direction: row;
}
    .toc {
        width: 40%;
    }
    .note {
        width: auto;
    }

th { 
    font-weight: bold;
    color: white;
    background-color: black;
}

td, tr, table {
    border: 1px solid grey;
    border-collapse:collapse;
}

td {
    padding: 10px;
}