body
{
margin:3%;
font-size:1em;
font-family:serif;
}
a
{
color:inherit;
text-decoration:none;
}
/* ------------------ Small Caps ------------------ */
small
{
font-size:0.8em;
}
/* ------------------ IMG ------------------ */
img
{
max-width:100%;
}
/* ------------------ Sup and Sub ------------------ */
sub
{
font-size:0.8em;
line-height:1em;
}
sup
{
font-size:0.6em;
line-height:1em;
}
/* ------------------ Page Break ------------------ */
.pagebreak
{
page-break-before:always;
}
/* ------------------ FRONT MATTER ------------------ */
/* ---- Title Page ---- */
.title
{
font-family:sans-serif;
margin-top:2em;
margin-bottom:0em;
margin-left:0em;
font-size:1.7em;
text-align:center;
line-height:1.3em;
font-weight:bold;
color:#5d7470;
}
.title1
{
font-family:sans-serif;
margin-top:0.3em;
margin-bottom:0em;
margin-left:0em;
font-size:1.3em;
text-align:center;
line-height:1.3em;
}
.title2
{
margin-top:1em;
margin-bottom:5em;
margin-left:0em;
font-size:3em;
text-align:center;
line-height:1.3em;
font-weight:bold;
color:#7e8c8a;
}
.aff
{
margin-top:0em;
margin-bottom:0em;
font-size:1em;
text-align:center;
}
/* ---- Copyright Page ---- */
.copy
{
font-family:serif;
margin-top:0.1em;
margin-bottom:0em;
text-align:center;
font-size:0.9em;
line-height:1.4em;
}
.copya
{
font-family:serif;
margin-top:0.2em;
margin-bottom:0em;
text-align:center;
font-size:0.9em;
line-height:1.4em;
}
.copy1
{
font-family:serif;
margin-top:1.5em;
margin-bottom:0em;
text-align:center;
font-size:0.9em;
line-height:1.4em;
}
.copys
{
font-family:serif;
margin-top:0.3em;
margin-bottom:0em;
text-align:center;
font-size:0.8em;
line-height:1.4em;
}
.copys1
{
font-family:serif;
margin-top:2em;
margin-bottom:0em;
text-align:center;
font-size:0.8em;
line-height:1.4em;
}
.copys2
{
font-family:serif;
margin-top:3.5em;
margin-bottom:0em;
text-align:center;
font-size:0.8em;
line-height:1.4em;
}
/* ---- Image Figure---- */
.imagec
{
margin-top:1.5em;
margin-bottom:1em;
text-align:center;
}
.image
{
margin-top:1em;
margin-bottom:0.8em;
text-align:center;
}
.image0
{
margin-top:0.3em;
margin-bottom:0.3em;
text-align:center;
}
.image1
{
margin-top:1em;
margin-bottom:1em;
text-align:center;
}
.imagel
{
margin-top:1em;
margin-bottom:1em;
margin-left:3.5em;
text-align:left;
}
.imageln
{
margin-top:1em;
margin-bottom:1em;
margin-left:3.8em;
text-align:left;
}
/* ---- Chapter Title For Contents Page, Ack Page, Index Page, Introduction ---- */
.fmtitle
{
font-family:sans-serif;
font-size:1.5em;
margin-top:1em;
margin-bottom:0.5em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
}
/* ---- Span Level ---- */
span.space
{
padding-left:1.5em;
}
span.red
{
color:#d2232a;
}
span.white
{
color:#ffffff;
}
span.lbro
{
color:#6c666d;
}
span.gre
{
color:#1e9298;
}
span.grec
{
color:#289d98;
}
span.gre1
{
color:#0072a5;
}
span.gre2
{
color:#31a091;
}
span.gre5
{
font-size:1.5em;
color:#1e9298;
}
span.bro
{
color:#e18045;
}
span.brog
{
font-size:1.2em;
color:#e18045;
}
span.broo
{
color:#e27339;
}
span.bro1
{
color:#a05157;
}
/* ---- Nonindentation For Para ---- */
.noindent
{
font-size:1em;
margin-top:0.1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
line-height:1.3em;
}
.noindent1
{
font-size:1em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
line-height:1.3em;
}
.noindentx
{
font-size:1em;
margin-top:0.1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
line-height:1.3em;
}
.noindent13
{
font-size:1.03em;
margin-top:0.1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
line-height:1.3em;
}
.noindents
{
font-family:sans-serif;
font-size:0.85em;
margin-top:0.1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
line-height:1.4em;
}
.noindents1
{
font-family:sans-serif;
font-size:0.85em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
line-height:1.4em;
}
.noindents3a
{
font-family:sans-serif;
font-size:0.85em;
margin-top:1em;
margin-bottom:0.5em;
margin-left:0em;
text-indent:0em;
text-align:justify;
line-height:1.4em;
}
.noindentst
{
font-family:sans-serif;
font-size:0.85em;
margin-top:1.6em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
line-height:1.4em;
}
.noindentsa
{
font-family:sans-serif;
font-size:0.85em;
margin-top:0.8em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
line-height:1.4em;
}
.noindents2
{
font-family:sans-serif;
font-size:0.85em;
margin-top:2.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
line-height:1.4em;
}
.noindents3
{
font-family:sans-serif;
font-size:0.85em;
margin-top:4.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
line-height:1.4em;
}
.line
{
font-size:1em;
margin-top:0.1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
line-height:1.3em;
}
/* ---- Indentation For Para ---- */
.indents
{
font-family:sans-serif;
font-size:0.85em;
margin-top:0.1em;
margin-bottom:0em;
margin-left:0em;
text-indent:1.5em;
text-align:justify;
line-height:1.4em;
}
.indents1
{
font-family:sans-serif;
font-size:0.85em;
margin-top:1.4em;
margin-bottom:0em;
margin-left:0em;
text-indent:1.5em;
text-align:justify;
line-height:1.4em;
}
.indents2
{
font-family:sans-serif;
font-size:0.85em;
margin-top:0.1em;
margin-bottom:1.4em;
margin-left:0em;
text-indent:1.5em;
text-align:justify;
line-height:1.4em;
}
.indent
{
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:1.5em;
text-align:justify;
line-height:1.3em;
}
.indentx
{
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:1.5em;
text-align:justify;
line-height:1.3em;
}
.indentxs
{
font-size:0.85em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:1.5em;
text-align:justify;
line-height:1.4em;
}
.indentxs1
{
font-size:0.85em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:1.5em;
text-align:justify;
line-height:1.4em;
}
.indent1a
{
font-size:1em;
margin-top:0.9em;
margin-bottom:0em;
margin-left:0em;
text-indent:1.5em;
text-align:justify;
line-height:1.3em;
}
/* ---- Heading ---- */
.h1
{
font-family:sans-serif;
font-size:1.5em;
margin-top:1em;
margin-bottom:0.5em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
border-bottom:solid 3px #82bbbb;
}
.h2
{
font-size:1.3em;
margin-top:1.2em;
margin-bottom:0.8em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
line-height:1.3em;
}
.h20
{
font-size:1.3em;
margin-top:1.2em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
line-height:1.3em;
}
.h2o
{
font-family:sans-serif;
font-size:1.5em;
margin-top:1.2em;
margin-bottom:0.8em;
margin-left:0em;
text-indent:0em;
text-align:left;
line-height:1.3em;
font-weight:bold;
}
.h3
{
font-size:1.1em;
margin-top:1.3em;
margin-bottom:1.3em;
margin-left:4.5em;
text-indent:0em;
text-align:left;
font-weight:bold;
line-height:1.3em;
}
.h4
{
font-size:1em;
margin-top:1.3em;
margin-bottom:0.2em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:bold;
line-height:1.3em;
}
.h3t
{
font-size:1.1em;
margin-top:2.3em;
margin-bottom:1.3em;
margin-left:4.5em;
text-indent:0em;
text-align:left;
font-weight:bold;
line-height:1.3em;
}
.h33
{
font-size:1.2em;
margin-top:1em;
margin-bottom:1.2em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
line-height:1.3em;
}
.h3f
{
font-size:1.2em;
margin-top:0em;
margin-bottom:0.4em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
}
/* ---- Div Box Level ---- */
div.boxg
{
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
border:3px solid #82bbbb;
padding:0.5em 1em 0.5em 1em;
}
div.boxg1
{
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
border:1px solid #189a94;
padding:0em 1.5em 0.5em 1.5em;
}
div.boxb1
{
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
border:1px solid #a05157;
padding:0em 1.5em 0.5em 1.5em;
}
div.boxy
{
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
border:3px solid #f4f0bc;
padding:0.5em 1em 0.5em 1em;
}
div.boxyy
{
margin-top:1em;
margin-bottom:1em;
margin-left:auto;
margin-right:auto;
text-indent:0em;
border:3px solid #f4f0bc;
padding:0.5em 1em 0.5em 1em;
width:50%;
}
div.box-gr
{
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
border:3px solid #d0e0e4;
padding:0.5em 1em 0.5em 1em;
}
div.boxbm
{
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
border-top:3px solid #758683;
border-bottom:3px solid #758683;
padding:1.5em 0em 0.1em 0em;
border-radius:25px;
background-color:#c8e4df;
page-break-inside:avoid;
}
.box_head
{
font-family:sans-serif;
margin-top:0.2em;
margin-bottom:0.6em;
margin-left:0em;
font-size:1.1em;
text-align:left;
line-height:1.5em;
}
.box_headt
{
font-family:sans-serif;
margin-top:1.2em;
margin-bottom:0.6em;
margin-left:0em;
font-size:1.1em;
text-align:left;
line-height:1.5em;
}
.box_head1
{
font-family:sans-serif;
margin-bottom:0.8em;
margin-left:0em;
font-size:0.9em;
text-align:left;
line-height:1.3em;
font-weight:normal;
}
span.wh
{
font-size:1.2em;
background-color:white;
padding-left:0.2em;
padding-right:0.2em;
}

/* ---- Figure Caption ---- */
div.figure
{
page-break-inside:avoid;
}
.figurecaption1
{
font-size:1.3em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0.7em;
text-indent:0em;
text-align:left;
line-height:1.3em;
}
.figurecaption2
{
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:2em;
text-indent:0em;
text-align:left;
line-height:1.3em;
}
.figurecaption3
{
font-size:0.8em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:2.5em;
text-indent:0em;
text-align:left;
line-height:1.3em;
}
.figurecaption
{
font-family:sans-serif;
font-size:0.75em;
margin-top:0.8em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
line-height:1.3em;
}
/* ---- Chapter Title ---- */
div.chap
{
page-break-inside:avoid;
}
.chaptitle
{
font-family:sans-serif;
font-size:1.5em;
margin-top:1em;
margin-bottom:1em;
text-indent:0em;
text-align:center;
font-weight:bold;
line-height:1.4em;
}
/* ---- Epigraph ---- */
.epi
{
font-size:1.05em;
margin-top:0.1em;
margin-bottom:0em;
margin-left:4em;
text-indent:0em;
text-align:left;
line-height:1.3em;
}
.epis
{
font-family:sans-serif;
font-size:0.85em;
margin-top:0.1em;
margin-bottom:0em;
margin-left:4em;
text-indent:0em;
text-align:left;
line-height:1.3em;
}
.epij
{
font-size:1.05em;
margin-top:0.1em;
margin-bottom:0em;
margin-left:4em;
text-indent:0em;
text-align:justify;
line-height:1.3em;
}
.episr
{
font-family:sans-serif;
font-size:0.8em;
margin-top:0.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:4em;
text-indent:0em;
text-align:right;
line-height:1.3em;
}
.epir
{
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:4em;
text-indent:0em;
text-align:right;
line-height:1.3em;
}
.epijr
{
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:right;
line-height:1.3em;
}
div.left
{
width:60%;
margin-left:auto;
margin-right:auto;
padding-left:7em;
padding-right:7em;
}
div.left1
{
width:60%;
margin-left:auto;
margin-right:auto;
padding-left:4.5em;
padding-right:4.5em;
width:60%;
}
/* ---- Right Para ---- */
.right
{
font-size:1em;
margin-top:0.1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:right;
line-height:1.3em;
}
.rightx
{
font-size:0.8em;
margin-top:0.1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:right;
line-height:1.4em;
}
.rightxt
{
font-size:0.8em;
margin-top:1.4em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
text-align:right;
line-height:1.4em;
}
.rightx1
{
font-size:0.8em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:right;
line-height:1.4em;
}
.rights
{
font-family:sans-serif;
font-size:0.75em;
margin-top:0.3em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:right;
line-height:1.4em;
}
.kf
{
font-family:sans-serif;
margin-top:0.95em;
margin-bottom:0.5em;
margin-left:0em;
font-size:0.95em;
text-align:left;
line-height:1.3em;
}
.inline
{
vertical-align:middle;
}
/* ---- Number List ---- */
.numlists
{
font-family:sans-serif;
margin-top:0.1em;
margin-bottom:0em;
font-size:0.85em;
text-indent:-1.4em;
margin-left:4.4em;
text-align:left;
line-height:1.4em;
}
.numlistsa
{
font-family:sans-serif;
margin-top:0.8em;
margin-bottom:0em;
font-size:0.85em;
text-indent:-1.4em;
margin-left:4.4em;
text-align:justify;
line-height:1.4em;
}
span.snums
{
text-indent:0em;
white-space:pre-wrap;
display:inline-block;
width:1.4em;
}
.numlist
{
margin-top:1.3em;
margin-bottom:0em;
font-size:1em;
text-indent:-2em;
margin-left:5em;
text-align:left;
line-height:1.3em;
}
span.snum
{
text-indent:0em;
white-space:pre-wrap;
display:inline-block;
width:1.65em;
}
.numlistt
{
margin-top:1.3em;
margin-bottom:0em;
font-size:1em;
text-indent:-2.65em;
margin-left:5em;
text-align:left;
line-height:1.3em;
}
span.snumt
{
text-indent:0em;
white-space:pre-wrap;
display:inline-block;
width:2.2em;
}
.number
{
font-family:sans-serif;
margin-top:0.2em;
margin-bottom:0em;
font-size:0.85em;
text-indent:-1.4em;
margin-left:1.4em;
text-align:justify;
line-height:1.4em;
}
span.sn
{
text-indent:0em;
white-space:pre-wrap;
display:inline-block;
width:1.4em;
}
.numlistsn
{
font-family:sans-serif;
margin-top:0.8em;
margin-bottom:0em;
font-size:0.85em;
text-indent:0em;
margin-left:4.4em;
text-align:justify;
line-height:1.4em;
}
.numlistsn0
{
font-family:sans-serif;
margin-top:0.1em;
margin-bottom:0em;
font-size:0.85em;
text-indent:0em;
margin-left:4.4em;
text-align:justify;
line-height:1.4em;
}
.alphas
{
font-family:sans-serif;
margin-top:0.2em;
margin-bottom:0em;
font-size:0.85em;
text-indent:-1.4em;
margin-left:5.8em;
text-align:justify;
line-height:1.4em;
}
span.alps
{
text-indent:0em;
white-space:pre-wrap;
display:inline-block;
width:1.4em;
}
/* ---- Footnote ---- */
.foot1
{
margin-top:1em;
margin-bottom:0em;
}
.foot
{
margin-top:0.2em;
margin-bottom:0em;
font-size:0.8em;
text-indent:-1.5em;
margin-left:2em;
text-align:left;
line-height:1.4em;
}
span.sfoot
{
text-indent:0em;
white-space:pre-wrap;
display:inline-block;
width:1.5em;
}
.foott
{
margin-top:0.2em;
margin-bottom:0em;
font-size:0.8em;
text-indent:-2em;
margin-left:2em;
text-align:left;
line-height:1.4em;
}
span.sfoott
{
text-indent:0em;
white-space:pre-wrap;
display:inline-block;
width:2em;
}
/* ---- Table ---- */
.table1
{
margin-top:1em;
margin-bottom:0em;
margin-left:auto;
margin-right:auto;
border-collapse:collapse;
width:100%;
padding:0em;
}
.table2
{
margin-top:1.3em;
margin-bottom:1.3em;
margin-left:auto;
margin-right:auto;
border-collapse:collapse;
width:100%;
padding:0em;
}
.tablet
{
margin-top:1em;
margin-bottom:1em;
margin-left:auto;
margin-right:auto;
border-collapse:collapse;
border-top:solid 1px #008f7d;
width:100%;
padding:0em;
}
.table0
{
margin-top:0em;
margin-bottom:0em;
margin-left:auto;
margin-right:auto;
border-collapse:collapse;
width:100%;
padding:0em;
}
.tablei
{
margin-top:0em;
margin-bottom:0em;
margin-left:1.4em;
margin-right:0em;
border-collapse:collapse;
width:100%;
padding:0em;
}
.tableii
{
margin-top:0em;
margin-bottom:0em;
margin-left:2.5em;
margin-right:0em;
border-collapse:collapse;
width:100%;
padding:0em;
}
.table5
{
margin-top:0.7em;
margin-bottom:0em;
margin-left:3.5em;
margin-right:0em;
border-collapse:collapse;
width:60%;
padding:0em;
}
.tablebm
{
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
border-bottom:solid 4px #ffffff;
border-collapse:collapse;
width:100%;
}
.tabs
{
font-family:sans-serif;
margin-top:0.2em;
margin-bottom:0em;
font-size:0.85em;
text-indent:0em;
margin-left:0em;
text-align:left;
line-height:1.4em;
}
.tabs1
{
font-family:sans-serif;
margin-top:1.4em;
margin-bottom:0em;
font-size:0.85em;
text-indent:0em;
margin-left:0em;
text-align:left;
line-height:1.4em;
}
.tabs0
{
font-family:sans-serif;
margin-top:0em;
margin-bottom:0em;
font-size:0.85em;
text-indent:0em;
margin-left:0em;
text-align:left;
line-height:1.4em;
}
.tabsr0
{
font-family:sans-serif;
margin-top:0em;
margin-bottom:0em;
font-size:0.85em;
text-indent:0em;
margin-left:0em;
margin-right:0.5em;
text-align:right;
line-height:1.4em;
}
.tabsr
{
font-family:sans-serif;
margin-top:0.2em;
margin-bottom:0em;
font-size:0.85em;
text-indent:0em;
margin-left:0em;
margin-right:0.5em;
text-align:right;
line-height:1.4em;
}
.tabsc
{
font-family:sans-serif;
margin-top:0.2em;
margin-bottom:0em;
font-size:0.9em;
text-indent:0em;
margin-left:0em;
text-align:center;
line-height:1.4em;
}
.tabsc1
{
font-family:sans-serif;
margin-top:1.4em;
margin-bottom:0em;
font-size:0.9em;
text-indent:0em;
margin-left:0em;
text-align:center;
line-height:1.4em;
}
.tabsc0
{
font-family:sans-serif;
margin-top:0em;
margin-bottom:0.5em;
font-size:0.9em;
text-indent:0em;
margin-left:0em;
text-align:center;
line-height:1.4em;
}
td.brg1
{
padding:0.2em 0.5em 0.2em 0.5em;
background-color:#d0e6c9;
border-bottom:solid 1px #008f7d;
border-left:solid 1px #008f7d;
border-right:solid 1px #008f7d;
vertical-align:top;
}
td.brg1c
{
padding:0.2em 0.5em 0.2em 0.5em;
background-color:#d0e6c9;
border-bottom:solid 1px #008f7d;
border-left:solid 1px #008f7d;
border-right:solid 1px #008f7d;
vertical-align:center;
}
td.brg2
{
padding:0.2em 0.5em 0.2em 0.5em;
background-color:#4aa148;
border-bottom:solid 2px #40ae49;
border-left:solid 3px #40ae49;
border-right:solid 3px #40ae49;
border-top:solid 3px #40ae49;
vertical-align:top;
}
td.brg
{
padding:0.2em 0.5em 0.2em 0.5em;
background-color:#c4e3df;
border-bottom:solid 1px #008f7d;
border-left:solid 1px #008f7d;
border-right:solid 1px #008f7d;
vertical-align:top;
}
td.brg3
{
padding:0.2em 0.5em 0.2em 0.5em;
background-color:#15b2a6;
border-bottom:solid 2px #008f7d;
border-right:solid 2px #008f7d;
border-top:solid 3px #008f7d;
vertical-align:top;
}
td.br
{
padding:0.2em 0.5em 0.2em 0.5em;
background-color:#ea9e6a;
border-top:solid 2px #f1b083;
border-left:solid 2px #f1b083;
border-right:solid 2px #ffffff;
border-bottom:solid 2px #ea945d;
vertical-align:top;
}
td.br1
{
padding:0.2em 0.5em 0.2em 0.5em;
background-color:#fcb13e;
border-right:solid 2px #ffffff;
border-top:solid 2px #fcb13e;
border-bottom:solid 2px #fcb13e;
vertical-align:top;
}
td.br2
{
padding:0.2em 0.5em 0.2em 0.5em;
background-color:#d19c1d;
border-right:solid 2px #ffffff;
border-top:solid 2px #d19c1d;
border-bottom:solid 2px #d19c1d;
vertical-align:top;
}
td.br3
{
padding:0.2em 0.5em 0.2em 0.5em;
background-color:#d19c1d;
border-right:solid 2px #d19c1d;
border-top:solid 2px #d19c1d;
border-bottom:solid 2px #d19c1d;
vertical-align:top;
}
td.br4
{
padding:0.2em 0.5em 0.2em 0.5em;
background-color:#f9dec9;
border-right:solid 1px #ea945d;
border-left:solid 1px #ea945d;
border-bottom:solid 1px #ea945d;
vertical-align:top;
}
td.br5
{
padding:0.2em 0.5em 0.2em 0.5em;
background-color:#ffe9ca;
border-right:solid 1px #fcb13e;
border-left:solid 1px #fcb13e;
border-bottom:solid 1px #fcb13e;
vertical-align:top;
}
td.br6
{
padding:0.2em 0.5em 0.2em 0.5em;
background-color:#f1dcb4;
border-right:solid 1px #fcb13e;
border-left:solid 1px #fcb13e;
border-bottom:solid 1px #d19c1d;
vertical-align:top;
}
td.br7
{
padding:0.2em 0.5em 0.2em 0.5em;
background-color:#f1dcb4;
border-right:solid 1px #d19c1d;
border-bottom:solid 1px #d19c1d;
vertical-align:top;
}
td.br-ye
{
padding:0.2em 0.2em 0.1em 0.5em;
background-color:#f2f7df;
vertical-align:top;
}
.tab-n
{
font-family:sans-serif;
margin-top:0em;
margin-bottom:0em;
font-size:0.85em;
text-indent:-1.4em;
margin-left:4.4em;
text-align:justify;
line-height:1.4em;
}
span.tn
{
text-indent:0em;
white-space:pre-wrap;
display:inline-block;
width:1.4em;
}
.tab-n1
{
font-family:sans-serif;
margin-top:0em;
margin-bottom:0em;
font-size:0.85em;
text-indent:-2em;
margin-left:5em;
text-align:justify;
line-height:1.4em;
}
span.tn1
{
text-indent:0em;
white-space:pre-wrap;
display:inline-block;
width:2em;
}
/* ---- Poem ---- */
.poem13
{
font-size:1.03em;
margin-top:0.1em;
margin-bottom:0em;
margin-left:3em;
text-indent:0em;
text-align:left;
line-height:1.3em;
}
.poem13n
{
font-size:1.05em;
margin-top:0.1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
line-height:1.3em;
}
.poemr0
{
font-size:0.8em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:4em;
text-indent:0em;
text-align:right;
line-height:1.3em;
}
.poemr00
{
font-size:0.8em;
margin-top:0.2em;
margin-bottom:0em;
margin-left:0em;
margin-right:6.5em;
text-indent:0em;
text-align:right;
line-height:1.3em;
}
.poemr
{
font-size:0.8em;
margin-top:0.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:6em;
text-indent:0em;
text-align:right;
line-height:1.3em;
}
.poemrr
{
font-size:0.8em;
margin-top:0.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:4em;
text-indent:0em;
text-align:right;
line-height:1.3em;
}
.poemrr0
{
font-size:0.8em;
margin-top:0.2em;
margin-bottom:0em;
margin-left:0em;
margin-right:4em;
padding-right:6em;
text-indent:0em;
text-align:right;
line-height:1.3em;
width:50%;
}
.poemrl
{
font-size:0.8em;
margin-top:0.3em;
margin-bottom:0em;
padding-left:2.8em;
margin-left:5em;
margin-right:0em;
text-indent:0em;
text-align:left;
line-height:1.3em;
}
.poem
{
font-size:1em;
margin-top:0.1em;
margin-bottom:0em;
margin-left:1em;
text-indent:-1em;
text-align:left;
line-height:1.3em;
}
.poem-s
{
font-family:sans-serif;
font-size:0.85em;
margin-top:0.3em;
margin-bottom:0em;
margin-left:1em;
text-indent:-1em;
text-align:left;
line-height:1.3em;
}
.poem1
{
font-size:1em;
margin-top:1.2em;
margin-bottom:0em;
margin-left:1em;
text-indent:-1em;
text-align:left;
line-height:1.3em;
}
.poeml
{
font-size:1em;
margin-top:0.1em;
margin-bottom:0em;
padding-left:3em;
margin-left:5.5em;
text-indent:-1em;
text-align:left;
line-height:1.3em;
}
.poeml1
{
font-size:1em;
margin-top:1.2em;
margin-bottom:0em;
padding-left:3em;
margin-left:5.5em;
text-indent:-1em;
text-align:left;
line-height:1.3em;
}
.poemlxi
{
font-size:1em;
margin-top:0.1em;
margin-bottom:0em;
padding-left:1.7em;
margin-left:5.5em;
text-indent:-1em;
text-align:left;
line-height:1.3em;
}
.poemlx
{
font-size:1em;
margin-top:0.1em;
margin-bottom:0em;
padding-left:0.5em;
margin-left:5.5em;
text-indent:-1em;
text-align:left;
line-height:1.3em;
}
.poemlx1
{
font-size:1em;
margin-top:1.2em;
margin-bottom:0em;
padding-left:0.5em;
margin-left:5.5em;
text-indent:-1em;
text-align:left;
line-height:1.3em;
}
.poemi
{
font-size:1em;
margin-top:0.1em;
margin-bottom:0em;
margin-left:2.5em;
text-indent:-1em;
text-align:left;
line-height:1.3em;
}
.poemi1
{
font-size:1em;
margin-top:1.4em;
margin-bottom:0em;
margin-left:2.5em;
text-indent:-1em;
text-align:left;
line-height:1.3em;
}
.poemm
{
font-size:1em;
margin-top:0.1em;
margin-bottom:0em;
padding-left:0em;
margin-left:5em;
text-indent:0em;
text-align:left;
line-height:1.3em;
}
.poems
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.1em;
margin-bottom:0em;
padding-left:5.5em;
margin-left:5em;
text-indent:0em;
text-align:left;
line-height:1.3em;
}
.poemsa
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.7em;
margin-bottom:0em;
padding-left:5.5em;
margin-left:5em;
text-indent:0em;
text-align:left;
line-height:1.3em;
}
.poemz
{
font-size:1em;
margin-top:0.1em;
margin-bottom:0em;
padding-left:0em;
margin-left:4.2em;
text-indent:0em;
text-align:left;
line-height:1.3em;
}
.poemz1
{
font-size:1em;
margin-top:1.4em;
margin-bottom:0em;
padding-left:0em;
margin-left:4.2em;
text-indent:0em;
text-align:left;
line-height:1.3em;
}
.poemzi
{
font-size:1em;
margin-top:0.1em;
margin-bottom:0em;
padding-left:0em;
margin-left:5.3em;
text-indent:0em;
text-align:left;
line-height:1.3em;
}
/* ---- Bullet List ---- */
.bulllistx
{
font-family:sans-serif;
margin-top:0.1em;
margin-bottom:0em;
font-size:0.85em;
text-indent:-1em;
margin-left:3.5em;
text-align:justify;
line-height:1.4em;
}
span.sbullx
{
text-indent:0em;
white-space:pre-wrap;
display:inline-block;
width:1em;
}
.bulllisty
{
font-family:sans-serif;
margin-top:0.2em;
margin-bottom:0em;
font-size:0.85em;
text-indent:-0.8em;
margin-left:2.5em;
text-align:justify;
line-height:1.4em;
}
span.sbully
{
text-indent:0em;
white-space:pre-wrap;
display:inline-block;
width:0.8em;
}
.dashx
{
font-family:sans-serif;
margin-top:0.2em;
margin-bottom:0em;
font-size:0.85em;
text-indent:-1em;
margin-left:4.5em;
text-align:justify;
line-height:1.4em;
}
span.sdashx
{
text-indent:0em;
white-space:pre-wrap;
display:inline-block;
width:1em;
}
.dasho
{
font-family:sans-serif;
margin-top:0.2em;
margin-bottom:0em;
font-size:0.85em;
text-indent:-1em;
margin-left:5.5em;
text-align:justify;
line-height:1.4em;
}
span.sdasho
{
text-indent:0em;
white-space:pre-wrap;
display:inline-block;
width:1em;
}
.dashi
{
font-family:sans-serif;
margin-top:0.2em;
margin-bottom:0em;
font-size:0.85em;
text-indent:-1em;
margin-left:2.5em;
text-align:justify;
line-height:1.4em;
}
span.sdashi
{
text-indent:0em;
white-space:pre-wrap;
display:inline-block;
width:1em;
}
.dashh
{
font-family:sans-serif;
margin-top:0.2em;
margin-bottom:0em;
font-size:0.85em;
text-indent:-1em;
margin-left:2.3em;
text-align:justify;
line-height:1.4em;
}
span.sdashh
{
text-indent:0em;
white-space:pre-wrap;
display:inline-block;
width:1em;
}
.dash
{
font-family:sans-serif;
margin-top:0.2em;
margin-bottom:0em;
font-size:0.85em;
text-indent:-1em;
margin-left:1em;
text-align:justify;
line-height:1.4em;
}
span.sdash
{
text-indent:0em;
white-space:pre-wrap;
display:inline-block;
width:1em;
}

/* ---- Center ---- */
.centerx
{
font-size:1em;
margin-top:0.1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
line-height:1.3em;
}
.center13
{
font-size:1.03em;
margin-top:0.1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
line-height:1.3em;
}
.top
{
vertical-align:top;
}
.cn
{
vertical-align:middle;
}
.centers
{
font-family:sans-serif;
font-size:0.85em;
margin-top:0.2em;
margin-bottom:0.2em;
margin-left:0em;
text-indent:0em;
text-align:center;
line-height:1.3em;
}
.centers1a
{
font-family:sans-serif;
font-size:0.85em;
margin-top:0.6em;
margin-bottom:0.2em;
margin-left:0em;
text-indent:0em;
text-align:center;
line-height:1.3em;
}
.centers2a
{
font-family:sans-serif;
font-size:0.85em;
margin-top:0.3em;
margin-bottom:0.6em;
margin-left:0em;
text-indent:0em;
text-align:center;
line-height:1.3em;
}
.centers3a
{
font-family:sans-serif;
font-size:0.85em;
margin-top:0.6em;
margin-bottom:0.6em;
margin-left:0em;
text-indent:0em;
text-align:center;
line-height:1.3em;
}
.centerbm
{
font-family:sans-serif;
font-size:0.9em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
line-height:1.3em;
}
.centerbmt
{
font-family:sans-serif;
font-size:0.9em;
margin-top:2em;
margin-bottom:1.5em;
margin-left:0em;
text-indent:0em;
text-align:center;
line-height:1.3em;
}
.centerbms
{
font-family:sans-serif;
font-size:0.8em;
margin-top:0em;
margin-bottom:0em;
text-indent:0em;
text-align:center;
line-height:1.3em;
border-top:dotted 3px #7cc9a9;
padding:0.6em 0.5em 0.6em 0.5em;
}
.centerbmsa
{
font-family:sans-serif;
font-size:0.8em;
margin-top:0em;
margin-bottom:0em;
text-indent:0em;
text-align:center;
line-height:1.3em;
border-top:dotted 3px #7cc9a9;
padding:1em 0.5em 0.6em 0.5em;
}
.centerbms1
{
font-family:sans-serif;
font-size:0.8em;
margin-top:1.5em;
margin-bottom:1em;
text-indent:0em;
text-align:center;
line-height:1.3em;
}
.sbm
{
padding:0.5em 1em 0.5em 1em;
background-color:#96ca4a;
border:solid 4px #ffffff;
color:#ffffff;
border-radius:15px;
}
.sbm1
{
padding:0.4em 2.6em 0.4em 2.6em;
background-color:#c1d95f;
border:solid 4px #ffffff;
border-radius:15px;
}

/* ------------------ BACK MATTER ------------------ */
.bmtitle
{
font-family:sans-serif;
font-size:1.5em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
}
.glo
{
margin-top:0.1em;
margin-bottom:0em;
font-size:0.85em;
text-indent:-1.5em;
margin-left:1.5em;
text-align:justify;
line-height:1.4em;
}
.bm
{
font-size:0.9em;
margin-top:1.5em;
margin-bottom:1.4em;
margin-left:0em;
text-indent:0em;
text-align:left;
line-height:1.3em;
}
.bm2
{
font-size:0.9em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
line-height:1.3em;
}
.bm1
{
font-size:0.9em;
margin-top:2.3em;
margin-bottom:1.4em;
margin-left:0em;
text-indent:0em;
text-align:left;
line-height:1.3em;
}
.hang
{
margin-top:0.1em;
margin-bottom:0em;
font-size:0.85em;
text-indent:-1.5em;
margin-left:1.5em;
text-align:justify;
line-height:1.4em;
}
.hang1
{
margin-top:1.4em;
margin-bottom:0em;
font-size:0.85em;
text-indent:-1.5em;
margin-left:1.5em;
text-align:justify;
line-height:1.4em;
}

/* ---- Contents Text ---- */
.tocc
{
margin-top:1.3em;
margin-bottom:0em;
font-size:1em;
text-indent:0em;
margin-left:0em;
text-align:left;
line-height:1.3em;
}
.toc
{
margin-top:0.1em;
margin-bottom:0em;
font-size:1em;
text-indent:0em;
margin-left:0em;
text-align:left;
line-height:1.3em;
}
.toc1
{
margin-top:0.1em;
margin-bottom:0em;
font-size:1em;
text-indent:0em;
margin-left:1.3em;
text-align:left;
line-height:1.3em;
}
.toc2
{
margin-top:0.1em;
margin-bottom:0em;
font-size:1em;
text-indent:0em;
margin-left:2.5em;
text-align:left;
line-height:1.3em;
}
div.boxyp
{
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
border:3px solid #f4f0bc;
padding:0.5em 1em 0.5em 1em;
}
div.boxyyp
{
margin-top:1em;
margin-bottom:1em;
margin-left:auto;
margin-right:auto;
text-indent:0em;
border:3px solid #f4f0bc;
padding:0.5em 1em 0.5em 1em;
width:50%;
}
