nav#landmarks {
    display:none;
}

nav#page-list {
    display:none;
}

ol {
    list-style-type: "➡️";
}

/* Görgetősáv */
::-webkit-scrollbar {
  height: 8px;
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background-color: #d19f73;
  border-radius: 5px;
  border: 1px solid #d9bda5;
}

::-webkit-scrollbar-track {
  background-color: #d9bda5;
}
