body {
	font-family: 'Noto Sans';
    font-size:3vw;
    color:#d2d4d6;
	background-color: #1c1d1d;
}

p {
    font-size: 2vw;
	/*z-index: 1;  2025.09.28 */
}

img {
    /*max-width:8vw; */
	max-height:10vw;
	/*z-index: 2;  2025.09.28 */
}

.card img {
    max-width: 95%;
    height: auto;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 5%;
    left: 2.5%;
    right: 2.5%;
	z-index:0; /* 2025.09.28 */
	transition: transform 0.3s ease;
}

label {
    font-size: 2vw;
}

a {
	text-decoration: none;
	color: #c7e75c
}

.csv-dropdown {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 20px;
    
}

#csv-dropdown-container {
    margin: 10px 0;
	width: 100%;
    max-width: 400px;
}

.quiz-title {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #d0cccc;
    font-size: 0.8em;
}

/* Style for the optgroup (category headers) */
optgroup {
    font-weight: bold;
    font-style: normal;
    color: #555;
    background-color: #f5f5f5;
}

/* Style for options within optgroups */
optgroup option {
    font-weight: normal;
    padding-left: 15px;
}

.wrap {
	position: absolute;
	width: 100%;
	/*height: 100%;*/
	left: 10;
	top: 10;
	background-color: #0b0c0c;
	display: grid;
  		grid-template-columns: repeat(5, 1fr);
	justify-content: center;
	align-items: center;
  	gap: 10px;
	overflow: visible;
}
.card {
	width: 100%;
	aspect-ratio: 1 / 1; /* height: 80%; */
	position: relative;
	perspective: 1000px;
	align-items:stretch; /* center */
	transform-origin: center center;
}

.card:first-child,
.card:nth-child(5n + 1) {
    transform-origin: left center;
}

.card:nth-child(5n) {
    transform-origin: right center;
}

.front, .back {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 10;
	top: 10;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	transition: 0.8s;
	backface-visibility: hidden;
	border-radius: 15px;
	z-index: 1; /* 2025.09.28 */
}

.front a, .back a {
	text-decoration: none;
}

.front {
	background-color: #02153d;
  	color: #0be7e7;
	text-align: center;
}

.back {
	background-color: #012008;
  	color: #eedf09;
	transform: rotateY(180deg);
	text-align: center;
}

.feedback {
    font-size:small;
    text-decoration: none;
    color: #d2d4d6;
    font-family: 'Noto Sans';
    text-align: right;
}

/*
.card .front div, .card .back div {
    width: 95%;
    margin: 0 auto;
    max-height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
*/

/* HOVER ACTIONS */
.card:hover {
	cursor: pointer;
	z-index: 100;
	justify-content: center;
	align-items: center;
	filter: drop-shadow(0px 0px 50px #04ee37) invert(0%); /* 2025.09.17 */
	
}

.card:hover .front {
	transform: rotateY(180deg) scale(1); /* original: transform: rotateY(180deg) scale(2); */
	transition-duration: 700ms;
	z-index: 100;
}

.card:hover .back {
	transform: rotateY(360deg) scale(1); /* original: transform: rotateY(360deg) scale(2); */
	transition-duration: 700ms;
	z-index: 100;
	
}

.card:hover img {
	transform: scale(1); /* original: transform: scale(1.8); */
	transition-duration: 700ms;
	vertical-align:15px;
}

/* Blur those cards what are NOT hovered 
.wrap:hover .card:not(:hover) {
    opacity: 0.8;
    filter: blur(2px);
    transition: opacity 0.5s, filter 0.5s;
} */

/* Görgetősáv */
::-webkit-scrollbar {
	height: 8px;
	width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
	background-color: #282929;
	border-radius: 5px;
	border: 1px solid #999b9e;
  }
  
  ::-webkit-scrollbar-track {
	background-color: #282929;
  }

  /* Responzivitási beállítások */
  @media (max-width: 1200px) { 
    
    .wrap {
      position: relative;
      width: 100%;
      height: 100%;
    
      gap: 2px;
    
    }

    .card {
      height: 130px;
      width: 100%;    
    }
}