body
{
margin:3%;
font-size:1em;
font-family: serif;
line-height:1.3em;
}
a
{
color:inherit;
text-decoration: none;
}
small
{
font-size:80%;
}
table
{
margin-top:1em;
margin-bottom:1em;
border-collapse:collapse;
width:100%;
margin-left:0em;
}
div.pgbreak
{
 page-break-before:always;
 margin-top:0em;
 margin-bottom:0em;
}
div.figure
{
 page-break-inside: avoid;
 margin-bottom: 1em;
 margin-top: 1em;
}
div.table
{
 page-break-inside: avoid;
 margin-bottom: 0.5em;
 margin-top: 1em;
}
div.left
{
margin-left:1.5em;
}
.inline
{
vertical-align:middle;
}
.inlinet
{
vertical-align:middle;
}
img
{
max-width:100%;
}
.img2
{
vertical-align: middle;
padding-left:0.5em;
}
sub
{
font-size:80%;
}
sup
{
font-size:80%;
}
.pagebreak
{
page-break-before:always;
}
div.figure
{
 page-break-inside: avoid;
 margin-bottom: 1em;
 margin-top: 1em;
}
.image
{
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
}
.imagel
{
font-size:1em;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:0em;
text-indent:0em;
text-align:left;
}
.publ
{
font-size:1em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
}
.copyt
{
font-family:sans-serif;
font-size:0.8em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
}
.copytj
{
font-family:sans-serif;
font-size:0.8em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
}
.copytt
{
font-family:sans-serif;
font-size:0.8em;
margin-top:5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
}
.copy
{
font-family:sans-serif;
font-size:0.8em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
}
.copy0
{
font-family:sans-serif;
font-size:0.8em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
}


.title
{
font-family:sans-serif;
font-size:3em;
margin-top:10%;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:center;
color:#b38c5b;
}
.title1
{
font-family:sans-serif;
font-size:2.5em;
margin-top:0.5%;
margin-bottom:em;
margin-left:0em;
text-indent:0em;
text-align:center;
}
.titlen
{
font-family:sans-serif;
font-size:4em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:center;
color:#b38c5b;
}
.titleb
{
font-family:sans-serif;
font-size:0.9em;
margin-top:10em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:center;
}
.fmtitle
{
font-family:sans-serif;
font-size:1.6em;
margin-top:2em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
color:#b38c5b;
font-weight:bold;
}
.noindent
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.noindentt
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
line-height:1.5em;
}
.noindents
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
line-height:1.5em;
}
.indent
{
font-family:serif;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
line-height:1.3em;
text-indent:1.5em;
}
.indentl
{
font-family:serif;
font-size:1em;
margin-top:0em;
margin-left:2em;
margin-bottom:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
line-height:1.3em;
text-indent:1.5em;
}
span.dropcap
{
  float: left;
 font-size: 350%;
 font-family:sans-serif;
 font-weight: normal;
 text-align: left;
 margin-top: 0.3em;
 margin-bottom: 0.04em;
 margin-left: 0em;
 margin-right: 0.1em;
 color:#b38c5b;
}
span.dropcap1
{
  float: left;
 font-size: 350%;
 font-family:serif;
 font-weight: normal;
 text-align: left;
 margin-top: 0.3em;
 margin-bottom: 0.04em;
 margin-left: 0em;
 margin-right: 0.1em;
 color:#b38c5b;
}
.right
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
text-align:right;
font-weight:normal;
font-style:normal;
line-height:1.5em;
}
.rightsan
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:1em;
text-align:right;
font-weight:normal;
font-style:normal;
line-height:1.5em;
}
.contents
{
font-family:sans-serif;
font-size:1.9em;
margin-top:2em;
margin-bottom:1.5em;
text-align:justify;
font-weight:normal;
font-style:normal;
line-height:1.5em;
color:#b38c5b;
}
.tocp
{
font-family:sans-serif;
font-size:0.9em;
margin-top:2em;
margin-bottom:0em;
text-align:left;
margin-left:1.8em;
font-weight:bold;
font-style:normal;
line-height:1.5em;
color:#97443c;
}
span.tt
{
float:left;
margin-left:-1.8em;
}
.toc
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
text-align:left;
margin-left:3.5em;
font-weight:normal;
font-style:normal;
line-height:1.5em;
}
span.tt1
{
float:left;
margin-left:-2em;
}
.toc1
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
text-align:left;
margin-left:3.5em;
font-weight:normal;
font-style:normal;
line-height:1.5em;
}
.toct
{
font-family:sans-serif;
font-size:0.9em;
margin-top:3em;
margin-bottom:0em;
text-align:left;
margin-left:3.5em;
font-weight:normal;
font-style:normal;
line-height:1.5em;
}
.pttitle
{
font-family:sans-serif;
font-size:3em;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:0em;
text-indent:0em;
text-align:left;
color:#b99567;
font-weight:bold;
}
.pttitle1
{
font-family:sans-serif;
font-size:2em;
margin-top:0em;
margin-bottom:1.5em;
margin-left:0em;
text-indent:0em;
text-align:left;
line-height:1.3em;
}
.fcaption
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.2em;
margin-bottom:0em;
text-align:left;
font-weight:normal;
font-style:normal;
}
.tcaption
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:0em;
text-align:left;
font-weight:normal;
font-style:normal;
}
.chtitle1
{
font-family:sans-serif;
font-size:1.2em;
margin-top:1.5em;
margin-bottom:1.5em;
margin-left:2.5em;
text-indent:-1.3em;
text-align:left;
font-weight:bold;
font-style:normal;
}
span.chnum
{
float:left;
margin-left:-.7em;
margin-top:0em;
margin-bottom:0em;
font-size:1.5em;
color:#c85732;
}
.pnoindent
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
}
.pnoindentt
{
font-family:sans-serif;
font-size:0.9em;
margin-top:1em;
margin-bottom:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
}
.pnoindent2
{
font-family:sans-serif;
font-size:1em;
margin-top:1.5em;
margin-bottom:0.3em;
text-align:justify;
font-weight:normal;
font-style:normal;
}
.pindent
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
text-indent:1.5em;
text-align:justify;
font-weight:normal;
font-style:normal;
}
.pnoindentl
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:1.7em;
text-align:justify;
font-weight:normal;
font-style:normal;
}
.pnoindentl2
{
font-family:sans-serif;
font-size:0.9em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:1.7em;
text-align:justify;
font-weight:normal;
font-style:normal;
}
div.tb
{
margin-top:1em;
margin-bottom:1em;
}

div.borfbr
{
border:solid 3px #b99567;
padding:0.5em;
margin-top:1em;
margin-bottom:1em;
}
div.borbr
{
border:solid 3px #d5bea2;
padding:0.5em;
margin-top:1em;
margin-bottom:1em;
}
div.borbr1
{
border:solid 3px #ece3d4;
padding:0.5em;
margin-top:1em;
margin-bottom:1em;
border-radius:20px;
}
div.borlbr
{
border:solid 3px #dbc9b0;
padding:0.5em;
margin-top:1em;
margin-bottom:1em;
}
div.borsan
{
border:solid 3px #fcebc4;
padding:0.5em;
margin-top:1em;
margin-bottom:1em;
border-radius:20px;
}
div.bory
{
border:solid 3px #fff2cd;
padding:0.5em;
margin-top:1em;
margin-bottom:1em;
}
.hyphen
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.2em;
margin-bottom:0em;
margin-left:1.7em;
text-indent:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
}
.hyphent
{
font-family:sans-serif;
font-size:0.9em;
margin-top:1em;
margin-bottom:0em;
margin-left:1.7em;
text-indent:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
}
.hyphen2
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
margin-left:1.7em;
text-indent:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
}
span.hyp2
{

font-size:1.2em;
margin-top:-0.1em;
float:left;
margin-left:-1.5em;
color:#c85732;
}
.alpha
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:3.5em;
text-indent:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
}
span.alp
{
font-size:0.9em;
float:left;
margin-left:-1.5em;
}
span.hyp
{
font-size:0.9em;
margin-top:-0.1em;
float:left;
margin-left:-1.8em;
color:#c85732;
}
span.hyp1
{
font-size:1.2em;
margin-top:-0.1em;
color:#c85732;
}

span.n
{
float:left;
margin-top:-0.15em;
}
span.san
{
font-family:sans-serif;
}
span.pradius
{
font-size:0.6em;
border-radius:10px 10px 10px 10px;
padding:0.1em 0.5em 0.1em 0.5em;
background-color:#c85732;
color:#ffffff;
}
span.radius
{
font-size:0.6em;
border-radius:10px 10px 10px 10px;
padding:0.1em 0.5em 0.1em 0.5em;
background-color:#c85732;
color:#ffffff;
vertical-align:middle;
}
span.brown
{
color:#b99567;
font-weight:bold;
}
span.orange
{
color:#c85632;
font-weight:bold;
}
span.red
{
color:#c6312b;
font-weight:bold;
}
span.blue
{
color:#0085cb;
}
span.iblue
{
color:#24326c;
font-weight:bold;
}
span.white
{
color:#ffffff;
font-weight:bold;
}
.bhead
{
font-family:sans-serif;
font-size:1em;
margin-top:0.7em;
margin-bottom:0.8em;
text-align:left;
font-weight:bold;
font-style:normal;
}
.bhead2
{
font-family:sans-serif;
font-size:1em;
margin-top:0.7em;
margin-bottom:0.2em;
text-align:left;
font-weight:bold;
font-style:normal;
}
.bheads
{
font-family:serif;
font-size:1.1em;
margin-top:1em;
margin-bottom:0.8em;
text-align:left;
font-weight:bold;
font-style:normal;
}
.bheadb
{
font-family:sans-serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:1em;
text-align:left;
font-weight:bold;
font-style:normal;
color:#b38c5b;
}


.boxnoindent
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
}
.boxnoindentt
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
}
.boxindent
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
text-indent:1.2em;
text-align:justify;
font-weight:normal;
font-style:normal;
}

.h3
{
font-family:sans-serif;
font-size:1.1em;
margin-top:1.8em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
font-style:normal;
color:#b38c5b;
}
.subtitle
{
font-family:sans-serif;
font-size:1.5em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
font-style:normal;
color:#b99567;
line-height:1.3em;
}
.subtitle1
{
font-family:sans-serif;
font-size:1.1em;
margin-top:0.3em;
margin-bottom:2em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
font-style:normal;
color:#b99567;
}
.subtitle2
{
font-family:sans-serif;
font-size:1.5em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
font-style:normal;
color:#b99567;
}
.subtitle3
{
font-family:sans-serif;
font-size:1.2em;
margin-top:0.5em;
margin-bottom:0.8em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
font-style:normal;
}


.number
{
font-family:sans-serif;
font-size:0.9em;
margin-top:1.3em;
margin-bottom:0em;
margin-left:1.7em;
text-indent:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
}
span.num
{
font-size:1em;
float:left;
font-weight:bold;
margin-left:-1.5em;
color:#c85732;
}
span.num1
{
float:left;
margin-left:-1.5em;
}
.ldot
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:1.7em;
text-indent:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
}
.ldot1
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:3.2em;
text-indent:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
}
span.dot
{
float:left;
margin-left:-1.5em;
}
.phead
{
font-family:sans-serif;
font-size:1.2em;
margin-top:0.5em;
margin-bottom:0.8em;
text-align:left;
font-weight:bold;
font-style:normal;
}

td.top
{
vertical-align:top;
padding-right:1.5em;
padding-bottom:1.5em;
}

.tabr
{
font-family:sans-serif;
font-size:1em;
margin-top:0.3em;
margin-bottom:0em;
text-align:right;
font-weight:normal;
font-style:normal;
}
.tabl
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.3em;
margin-bottom:0em;
text-align:left;
font-weight:normal;
font-style:normal;
}
.tabc
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.3em;
margin-bottom:0em;
text-align:center;
font-weight:normal;
font-style:normal;
}
.tdborb
{
border-right:3px solid #ffffff;
border-bottom:3px solid #ffffff;
padding:0.5em;
background-color:#d9c2a8;
vertical-align:top;
}
.tdborb1
{
border-bottom:3px solid #ffffff;
padding:0.5em;
background-color:#d9c2a8;
vertical-align:top;
}
.tdborb
{
border-right:3px solid #ffffff;
border-bottom:3px solid #ffffff;
padding:0.5em;
background-color:#d9c2a8;
vertical-align:top;
}
.tdborb1
{
border-bottom:3px solid #ffffff;
padding:0.5em;
background-color:#d9c2a8;
vertical-align:top;
}
.tdborlb
{
border-right:3px solid #ffffff;
border-bottom:3px solid #ffffff;
padding:0.5em;
background-color:#e4d4c1;
vertical-align:top;
}
.tdborlb1
{
border-bottom:3px solid #ffffff;
padding:0.5em;
background-color:#e4d4c1;
vertical-align:top;
}
.tdborh
{
border-right:1.5px solid #ffffff;
border-bottom:1.5px solid #ffffff;
padding:0.5em;
background-color:#b38c5b;
vertical-align:top;
}
.tdborh1
{
border-bottom:1.5px solid #ffffff;
padding:0.5em;
background-color:#b38c5b;
vertical-align:top;
}
.tdborb2
{
border-right:3px solid #ffffff;
border-bottom:1.5px solid #ffffff;
padding:0.5em;
background-color:#ece3d4;
vertical-align:top;
}
.tdborb3
{
border-bottom:1.5px solid #ffffff;
padding:0.5em;
background-color:#ece3d4;
vertical-align:top;
}
.tdborb4
{
border-right:3px solid #ffffff;
border-bottom:1.5px solid #ffffff;
padding:0.5em;
background-color:#dbc9b0;
vertical-align:top;
}
.tdborb5
{
border-bottom:1.5px solid #ffffff;
padding:0.5em;
background-color:#dbc9b0;
vertical-align:top;
}
.tdborb6
{
border-right:3px solid #ece3d4;
border-bottom:1.5px solid #ece3d4;
padding:0.5em;
background-color:#d4bda0;
vertical-align:top;
}
.tdborb7
{
border-right:3px solid #ece3d4;
border-bottom:3px solid #ece3d4;
padding:0.5em;
background-color:#e4d4c1;
vertical-align:top;
}
.tdborb8
{
border-bottom:1.5px solid #ece3d4;
padding:0.5em;
background-color:#d4bda0;
vertical-align:top;
}
.tdborw
{
border-bottom:1.5px solid #ffffff;
padding:0.5em;
background-color:#f5f0e9;
vertical-align:top;
}
.tdborw1
{
border-bottom:1.5px solid #ffffff;
padding:0.5em;
background-color:#f5f0e9;
vertical-align:top;
}
.tdborg
{
border-bottom:1.5px solid #ffffff;
padding:0.5em;
background-color:#05617b;
vertical-align:top;
}
.tdborr
{
border-bottom:1.5px solid #ffffff;
padding:0.5em;
background-color:#ca323b;
vertical-align:top;
}
.tdborbl
{
padding:0.5em;
background-color:#95abbc;
vertical-align:top;
}
.tdborsan
{
padding:0.5em;
background-color:#ece3d4;
vertical-align:top;
}
.tdborp
{
padding:0.5em;
background-color:#eaa599;
vertical-align:top;
}
.bmnoindent
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:1em;
text-indent:-1em;
text-align:justify;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.numberb
{
font-family:serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:2.5em;
text-indent:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
}
span.numb
{
float:left;
margin-left:-2.5em;
margin-top:0.1em;
}
.bnoindent
{
font-family:serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
