body
{
margin:3%;
font-size:1em;
font-family: serif;
line-height:1.3em;
}
a
{
color:inherit;
text-decoration: none;
}
small
{
font-size:80%;
}
table
{
margin-top:1em;
margin-bottom:1em;
border-collapse:collapse;
width:100%;
}
.inline
{
vertical-align:middle;
padding-bottom:5px;
}
div.pgbreak
{
page-break-inside:avoid;
}
img
{
max-width:100%;
}
sub
{
font-size:80%;
}
sup
{
font-size:80%;
}
.image
{
font-family:serif;
font-size:1em;
margin-top:1.5em;
margin-bottom:0.5em;
text-align:center;
font-weight:normal;
font-style:normal;
margin-left:2em;
line-height:1.3em;
}
.imager
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:1em;
text-align:right;
font-weight:normal;
font-style:normal;
margin-left:0em;
line-height:1.3em;
}
.imagel
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:1em;
text-align:left;
font-weight:normal;
font-style:normal;
margin-left:0em;
line-height:1.3em;
}
.cover
{
font-size:1em;
margin-top:0em;
margin-bottom:0em;
text-align:center;
font-weight:normal;
font-style:normal;
margin-left:0em;
}
.title
{
font-family:sans-serif;
font-size:2em;
margin-top:3em;
margin-bottom:0.5em;
text-align:center;
font-weight:bold;
font-style:normal;
line-height:1.3em;
color:#b18a56;
}
.title1
{
font-family:sans-serif;
font-size:1.7em;
margin-top:0em;
margin-bottom:1em;
text-align:center;
font-weight:bold;
font-style:normal;
line-height:1.3em;
}
.tnum
{
font-family:sans-serif;
font-size:3em;
margin-top:0.5em;
margin-bottom:6em;
text-align:center;
font-weight:normal;
font-style:normal;
line-height:1.3em;
color:#b18a56;
}
.title2
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:0em;
text-align:center;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.copytt
{
font-family:sans-serif;
font-size:0.9em;
margin-top:1.5em;
margin-bottom:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
margin-left:0em;
line-height:1.3em;
}
.copytt1
{
font-family:sans-serif;
font-size:0.9em;
margin-top:4em;
margin-bottom:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
margin-left:0em;
line-height:1.3em;
}
.copyt
{
font-family:sans-serif;
font-size:0.9em;
margin-top:1em;
margin-bottom:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
margin-left:0em;
line-height:1.3em;
}
.copy
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
margin-left:0em;
line-height:1.3em;
}
.fmtitle
{
font-family:sans-serif;
font-size:1.4em;
margin-top:2em;
margin-bottom:2em;
text-align:left;
font-weight:normal;
font-style:normal;
margin-left:0em;
line-height:1.3em;
color:#b18a56;
}
.noindentt
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
line-height:1.5em;
}
span.dropcap
{
  float: left;
 font-size: 450%;
 font-weight: normal;
 text-align: left;
 margin-top: 0.3em;
 margin-bottom: 0.04em;
 margin-left: 0em;
 margin-right: 0.1em;
 color:#b18a56;
  }
.right
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0.5em;
text-align:right;
font-weight:normal;
font-style:normal;
line-height:1.3em;
margin-left:3em;
}
.fmtitle1
{
font-family:sans-serif;
font-size:1.4em;
margin-top:2em;
margin-bottom:2em;
text-align:left;
font-weight:bold;
font-style:normal;
margin-left:0em;
line-height:1.3em;
color:#d3bc9d;
}
.number
{
font-family:sans-serif;
font-size:0.9em;
margin-top:2em;
margin-bottom:0.5em;
text-align:left;
font-weight:bold;
font-style:normal;
margin-left:2em;
line-height:1.3em;
color:#0a627d;
}
span.num
{
float:left;
margin-left:-2em;
}
.dotted
{
border-bottom:dotted 1px black;
padding:0.2 0em 0.2em 0em;
margin-left:2em;
}
.figcaption
{
font-family:serif;
font-size:1em;
margin-top:0em;
margin-bottom:1em;
text-align:center;
font-weight:normal;
font-style:italic;
line-height:1.3em;
margin-left:2em;
}
.figcaptiona
{
font-family:serif;
font-size:1em;
margin-top:0em;
margin-bottom:1em;
text-align:center;
font-weight:normal;
font-style:italic;
line-height:1.3em;
margin-left:1em;
}
.pttitle
{
font-family:sans-serif;
font-size:1.3em;
margin-top:2em;
margin-bottom:1em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
color:#b18a56;
}
.chtitle
{
font-family:sans-serif;
font-size:1.4em;
margin-top:1em;
margin-bottom:1em;
text-align:left;
font-weight:bold;
font-style:normal;
margin-left:2em;
color:#b18a56;
line-height:1.3em;
}
span.ch
{
float:left;
margin-left:-2em;
}
.tabl
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0.5em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
margin-left:4em;
text-indent:-2em;
}
.tablv
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0.5em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
margin-left:2em;
text-indent:0em;
}
.alpha
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:0.5em;
text-align:left;
font-weight:normal;
font-style:normal;
margin-left:2em;
line-height:1.3em;
}
span.alp
{
float:left;
margin-left:-2em;
}
.noindentl
{
font-family:serif;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
line-height:1.5em;
margin-left:2em;
}
.dotted1
{
border-bottom:dotted 2px black;
padding:0.2 0em 0.2em 0em;
margin-left:2em;
margin-top:-0.5em;
}
span.dot
{
font-size:1.2em;
}
.number1
{
font-family:serif;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
text-align:left;
font-weight:normal;
font-style:normal;
margin-left:3.5em;
line-height:1.3em;
}
span.num1
{
float:left;
margin-left:-1.5em;
}
div.space
{
margin-top:1em;
margin-bottom:1em;
}
.paral
{
font-family:serif;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
margin-left:15em;
}
.pleft
{
font-family:serif;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
margin-left:15em;
text-indent:1.5em;
}
.tdbl
{
border-top:solid 1px #b18a56;
border-bottom:solid 1px #b18a56;
border-left:solid 1px #b18a56;
border-right:solid 1px #ffffff;
background-color:#b18a56;
color:#ffffff;
padding:0.3em;
}
.tdb
{
border:solid 1px #b18a56;
background-color:#b18a56;
color:#ffffff;
padding:0.3em;
}
.tabc
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:0em;
text-align:center;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.tdc
{
border:solid 1px #b18a56;
background-color:#f1e9dd;
padding:0.5em;
}
.tabls
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
div.left
{
margin-left:2em;
}
.tdc1
{
border:solid 1px #b18a56;
padding:0.5em;
}
.indent
{
font-family:serif;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
line-height:1.5em;
text-indent:1.5em;
margin-left:2em;
}
div.borderb
{
border:solid 2px #b18a56;
padding:0.5em;
border-radius:15px;
margin-top:1em;
margin-bottom:1em;
}
.bxtitle
{
font-family:sans-serif;
font-size:1.1em;
margin-top:1em;
margin-bottom:0.5em;
text-align:left;
font-weight:bold;
font-style:normal;
line-height:1.3em;
color:#0a627d;
}
.bxparas
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.dottedl
{
border-bottom:dotted 2px black;
padding:0.2 0em 0.2em 0em;
}
.alpha1
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
text-align:left;
font-weight:normal;
font-style:normal;
margin-left:3.5em;
line-height:1.3em;
}
span.alp1
{
float:left;
margin-left:-1.5em;
}
.tablr
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:0em;
text-align:right;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.tabls1
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
margin-left:2em;
}
.dottedlt
{
border-bottom:dotted 2px black;
padding:0.2 0em 0.2em 0em;
margin-left:3.5em;
}
.noindentll
{
font-family:serif;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
line-height:1.5em;
margin-left:3.5em;
}
.numberc
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:0.5em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
margin-left:2.5em;
}
span.radius
{
border-radius:15px 15px 15px 15px;
padding:0.2em 0.5em 0.2em 0.5em;
background-color:#b18a56;
color:#ffffff;
}
span.radius1
{
border-radius:15px 15px 15px 15px;
padding:0.2em 0.3em 0.2em 0.3em;
background-color:#b18a56;
color:#ffffff;
}
.tdbr
{
border:solid 2px #b18a56;
padding:2em 2em 10em 2em;
}
.tabr
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0.5em;
text-align:right;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.tabll
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0.5em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
margin-left:5em;
}
.tabls2
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
margin-left:2em;
}
span.tabs
{
float:left;
margin-left:-2em;
}
.noindent2
{
font-family:serif;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
line-height:2em;
margin-left:2em;
}
.noindent2a
{
font-family:serif;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
line-height:1em;
margin-left:4em;
float:left;
}
.fl
{
float:left;
margin-left:-2em;
}
span.right1
{
float:right;
margin-right:2em;
}
.tdcb
{
border:solid 1px #b18a56;
background-color:#dfceb7;
padding:0.5em;
}
.tabl2
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0.5em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.number2
{
font-family:serif;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
text-align:left;
font-weight:normal;
font-style:normal;
margin-left:5em;
line-height:1.3em;
}
span.num2
{
float:left;
margin-left:-1.5em;
}
.noindents
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
line-height:1.5em;
margin-left:2em;
}
span.brown
{
color:#b18a56;
letter-spacing:0.2em;
}
.tdb2
{
border-top:solid 1px #b18a56;
border-bottom:solid 1px #ffffff;
border-left:solid 1px #b18a56;
border-right:solid 1px #b18a56;
background-color:#b18a56;
color:#ffffff;
padding:0.3em;
}
span.space
{
letter-spacing:0.3em;
}
.tdbr1
{
border:solid 2px #b18a56;
padding:2em 2em 4em 2em;
}
.imagec
{
font-family:serif;
font-size:1em;
margin-top:1.5em;
margin-bottom:0.5em;
text-align:center;
font-weight:normal;
font-style:normal;
margin-left:2em;
line-height:1.3em;
}
.bmtitle
{
font-family:sans-serif;
font-size:1.4em;
margin-top:1em;
margin-bottom:1em;
text-align:left;
font-weight:bold;
font-style:normal;
color:#b18a56;
line-height:1.3em;
}
.bmsubt
{
font-family:sans-serif;
font-size:0.9em;
margin-top:2em;
margin-bottom:0em;
text-align:left;
font-weight:bold;
font-style:normal;
line-height:1.3em;
}
.bmt
{
font-family:sans-serif;
font-size:0.8em;
margin-top:0em;
margin-bottom:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.bmtt
{
font-family:sans-serif;
font-size:0.8em;
margin-top:1.5em;
margin-bottom:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.Content
{
font-family:sans-serif;
font-size:1.4em;
margin-top:1em;
margin-bottom:1em;
text-align:left;
font-weight:bold;
font-style:normal;
color:#b18a56;
line-height:1.3em;
}
.tocf
{
font-family:sans-serif;
font-size:0.9em;
margin-top:2.5em;
margin-bottom:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.tocp
{
font-family:sans-serif;
font-size:0.9em;
margin-top:1.5em;
margin-bottom:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.toc
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
margin-left:3em;
}
span.tocc
{
float:left;
margin-left:-2em;
}
.tocbt
{
font-family:sans-serif;
font-size:0.9em;
margin-top:1.5em;
margin-bottom:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.tocbb
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.noindentl2
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
line-height:1.5em;
margin-left:2em;
}