body
{
margin:3%;
font-size:1em;
font-family: serif;
line-height:1.3em;
}
a
{
color:inherit;
text-decoration: none;
}
small
{
font-size:80%;
}
table
{
margin-top:1em;
margin-bottom:1em;
border-collapse:collapse;
width:100%;
}
.tableleft
{
margin-top:0.5em;
border-collapse:collapse;
width:100%;
margin-left:2.5em;
}
.tableft1
{
margin-top:0.5em;
border-collapse:collapse;
width:100%;
margin-left:0em;
}
.tablec
{
margin-top:1em;
margin-bottom:1em;
border-collapse:collapse;
text-align:center;
width:100%;
}
.inline
{
vertical-align:middle;
}
.inlinet
{
vertical-align:top;
}
img
{
max-width:100%;
}
sub
{
font-size:80%;
}
sup
{
font-size:80%;
}
.pagebreak
{
page-break-before:always;
}
.image
{
font-size:1em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:center;
}
.imagel
{
font-size:1em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
}
.image2
{
font-size:1em;
margin-top:1em;
margin-bottom:1em;
margin-left:1.5em;
text-indent:0em;
text-align:left;
}
.image1
{
font-size:1em;
margin-top:1em;
margin-bottom:1em;
margin-left:2.5em;
text-indent:0em;
text-align:left;
}
.imagel2
{
font-size:1em;
margin-top:1em;
margin-bottom:1em;
margin-left:4.5em;
text-indent:0em;
text-align:left;
}
.imager
{
font-size:1em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:right;
}
.title
{
font-family:serif;
font-size:200%;
margin-top:4em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:bold;
}
.titleb
{
font-family:serif;
font-size:150%;
margin-top:0em;
margin-bottom:7em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:bold;
}
.pub
{
font-family:serif;
font-size:130%;
margin-top:45%;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:normal;
}
.copyt
{
font-family:serif;
font-size:0.9em;
margin-top:1.3em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
}
.copy
{
font-family:serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
}
.copytt
{
font-family:serif;
font-size:0.9em;
margin-top:3em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
}
.content
{
font-family:sans-serif;
font-size:120%;
margin-top:3em;
margin-bottom:1.5em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:normal;
color:#2c2f7f;
}
.tocp1
{
font-family:serif;
font-size:120%;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
}
.tocp
{
font-family:serif;
font-size:120%;
margin-top:2.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
}
.toc
{
font-family:serif;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:2em;
text-indent:0em;
text-align:left;
}
span.toc1
{
float:left;
margin-left:-2em;
}
.fmtitle
{
font-family:sans-serif;
font-size:120%;
margin-top:1.5em;
margin-bottom:2em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
}
span.red
{
color:#c51e3b;
}
span.orange
{
font-weight:bold;
color:#e74229;
}
span.blue
{
color:#103582;
}
span.sblue
{
color:#01a2b3;
}
span.blue1
{
color:#1969b1;
font-weight:bold;
}
span.violet
{
color:#74338a;
}
span.blue2
{
color:#1969b1;
}
span.green
{
font-weight:bold;
color:#009747;
}
span.lgreen
{
color:#2ab256;
}
span.myellow
{
font-weight:bold;
color:#d26f1f;
}
span.yellow
{
font-weight:bold;
color:#ffbd29;
}
span.dyellow
{
font-weight:bold;
color:#d0a564;
}
span.iblue
{
color:#103b72;
font-weight:bold;
}
span.dred
{
font-weight:bold;
color:#f01c21;
}
span.dred1
{
color:#f01c21;
}
span.brown
{
font-weight:bold;
color:#86563f;
}
.h3
{
font-family:serif;
font-size:130%;
margin-top:0.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
}
.h3a
{
font-family:serif;
font-size:1em;
margin-top:2em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
}
.h3b
{
font-family:serif;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
}
.noindent
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-weight:normal;
}
.noindentt
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-weight:normal;
}
.noindenttb
{
font-family:serif;
font-size:1em;
margin-top:2em;
margin-bottom:2em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-weight:normal;
}
.noindentsan
{
font-family:sans-serif;
font-size:0.95em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-weight:normal;
}
.noindentl
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:1.5em;
text-indent:0em;
text-align:justify;
font-weight:normal;
}
.noindent2
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:2.5em;
text-indent:0em;
text-align:justify;
font-weight:normal;
}
.noindent3
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:4em;
text-indent:0em;
text-align:justify;
font-weight:normal;
}
.boxhead
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
}
.boxheadsan
{
font-family:sans-serif;
font-size:0.95em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
}
.pttitle1
{
font-family:sans-serif;
font-size:180%;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:right;
font-weight:bold;
color:#f45839;
}
span.chnum
{
font-weight:bold;
font-size:180%;
}
span.numb
{
font-weight:bold;
font-size:150%;
}
.chtitle1
{
font-family:sans-serif;
font-size:140%;
margin-top:1.5em;
margin-bottom:2em;
margin-left:2em;
text-indent:-2em;
text-align:left;
font-weight:normal;
line-height:1.3em;
}
.textc
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:normal;
}
.boxhead1
{
font-family:serif;
font-size:130%;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#c51e3b;
font-style:italic;
}
div.tb
{
margin-top:2em;
margin-bottom:2em;
}
div.borred
{
margin-top:1em;
margin-bottom:1.5em;
border:3px dashed #c51e3b;
padding:0.5em;
border-radius:25px;
}
div.borred1
{
margin-top:1em;
margin-bottom:1.5em;
border:3px dashed #c51e3b;
padding:0.5em;
border-radius:25px;
}
div.borlg
{
margin-top:1em;
margin-bottom:1em;
border:3px solid #e2f1e8;
padding:0.5em;
border-radius:25px;
}
div.borgrey1
{
margin-top:1em;
margin-bottom:1em;
border:3px solid #e3e3e3;
padding:0.5em;
}
div.borsand
{
margin-top:1em;
margin-bottom:1em;
background-color:#ffe8bf;
padding:0.5em;
border-radius:25px;
}
div.bggrey
{
margin-top:1em;
margin-bottom:1em;
border:3px solid #cccbcc;
padding:0.5em;
border-radius:25px;
}
div.bgsand
{
margin-top:1em;
margin-bottom:1em;
background-color:#ffe8bf;
padding:0.5em;
border-radius:25px;
}
div.borsb
{
margin-top:1em;
margin-bottom:1em;
border:3px solid #01a2b3;
padding:0.5em;
border-radius:25px;
}
div.borlg2
{
margin-top:1em;
margin-bottom:1em;
border:3px solid #e2f1e8;
padding:0.5em;
}
div.borlg3
{
margin-top:1em;
margin-bottom:1em;
border:3px solid #e2f1e8;
background-color:#e2f1e8;
padding:0.5em;
}
div.borp2
{
margin-top:1em;
margin-bottom:1em;
border:3px solid #ffece5;
padding:0.5em;
}
div.borbrown
{
margin-top:1em;
margin-bottom:1em;
border:3px solid #504840;
padding:0.5em;
}
.number
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:1.5em;
text-indent:0em;
text-align:left;
}
span.num
{
float:left;
margin-left:-1.5em;
}
span.numl
{
float:left;
margin-left:-2em;
}
.alpha
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:1.5em;
text-indent:0em;
text-align:justify;
}
.alphal
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:1.5em;
text-indent:0em;
text-align:justify;
}
.alphat
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
margin-left:1.5em;
text-indent:0em;
text-align:justify;
}
span.alp
{
float:left;
margin-left:-1.5em;
}
span.alpl
{
float:left;
margin-left:-4em;
}

td
{
vertical-align:top;
}
td.top
{
vertical-align:top;
}
td.mid
{
vertical-align:middle;
}
td.pad
{
padding-top:0.5em;
}
td.pad1
{
padding-right:1em;
}
td.pad2
{
padding-top:1em;
padding-right:1em;
}
.tabj
{
font-family:serif;
font-size:1em;
margin-top:0.3em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-weight:normal;
}
.tabl
{
font-family:serif;
font-size:1em;
margin-top:0.3em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:normal;
}
.tabl2
{
font-family:serif;
font-size:1em;
margin-top:0.3em;
margin-bottom:0em;
margin-left:2em;
text-indent:0em;
text-align:justify;
font-weight:normal;
}
.tabr
{
font-family:serif;
font-size:1em;
margin-top:0.3em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:right;
font-weight:normal;
}
.tabc
{
font-family:serif;
font-size:1em;
margin-top:0.3em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:normal;
}

.listnum
{
font-family:serif;
font-size:1em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:2.5em;
text-indent:0em;
text-align:justify;
font-weight:normal;
}
span.li1
{
float:left;
margin-left:-2.5em;
font-weight:bold;
}
.listalpha
{
font-family:serif;
font-size:1em;
margin-top:0.7em;
margin-bottom:0em;
margin-left:4em;
text-indent:0em;
text-align:justify;
font-weight:normal;
}
span.lialp
{
float:left;
margin-left:-1.5em;
}
.listnum1
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:4em;
text-indent:0em;
text-align:justify;
font-weight:normal;
}
span.li2
{
float:left;
margin-left:-2.5em;
}
.chtit
{
font-family:sans-serif;
font-size:150%;
margin-top:1.5em;
margin-bottom:0.5em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:normal;
}
.chtit1
{
font-family:sans-serif;
font-size:150%;
margin-top:0em;
margin-bottom:1.5em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:normal;
}
.noindentt2
{
font-family:serif;
font-size:1em;
margin-top:3em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-weight:normal;
}
span.box
{
border:1px solid black;
padding:0.1em;
}
div.pgbreak
{
 page-break-before:always;
 margin-top:0em;
 margin-bottom:0em;
}
span.san
{
font-family:sans-serif;
font-size:0.9em;
}
.brfigure
{
 page-break-inside: avoid;
 margin-bottom: 0em;
 margin-top: 0em;
}

.listalpha1
{
font-family:serif;
font-size:1em;
margin-top:0.7em;
margin-bottom:0em;
margin-left:1.5em;
text-indent:0em;
text-align:justify;
font-weight:normal;
}
span.lialp1
{
float:left;
margin-left:-1.5em;
}
div.avoid
{
page-break-inside: avoid;
}
.part-title
{
font-family:sans-serif;
font-size:150%;
margin-top:0em;
margin-bottom:1.5em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:normal;
color:#E55B3B;
font-weight:bold;
}