<html>
    <head>
        <title>Digital Clock</title>
        <script src="./digital_clock.js"> </script>
        <link rel="stylesheet" href="./digital_clock.css">
        <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto:100" rel="stylesheet">
    </head>
    <body onload="realtimeClock()">
        <div class="main-container">
            <h1>REAL TIME CLOCK</h1>
            <div id="clock"></div>
        </div>

<!-- FEEDBACK -->
    <div class="feedback">
        <a href="mailto:felisha19761228@gmail.com?
            &subject=Feedback: Porfolio page" target="_top" class="feedback">
            
		<hr>
			FrontNest Studio &copy; <br>Feedback<hr>v.1.1</a>
	</div>

    </body>
</html>