body
{
margin:3%;
font-size:1em;
font-family: serif;
line-height:1.3em;
}
a
{
color:inherit;
text-decoration: none;
}
small
{
font-size:80%;
}
table
{
margin-top:0em;
border-collapse:collapse;
width:100%;
}
.inline
{
vertical-align:middle;
}
.inlinet
{
vertical-align:top;
}
.inlinetb
{
vertical-align:bottom;
}
img
{
max-width:100%;
}
sub
{
font-size:80%;
}
sup
{
font-size:80%;
}
.image
{
margin-top:1em;
margin-bottom:1em;
text-align:center;
}
.imagen
{
margin-top:0em;
margin-bottom:0em;
text-align:center;
}
.imagel
{
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
text-align:left;
}
.imager
{
margin-top:1em;
margin-bottom:1em;
text-align:right;
}
.imgtb
{
margin-top:15%;
margin-bottom:15%;
text-align:center;
}
div.break
{
page-break-inside:avoid;
}
div.tb
{
margin:1.5em 0em;
}
div.tbleft
{
margin:1em 1em 1em 3em;
}
div.tbleft1
{
margin:1em 1em 1em 4.5em;
}
.title
{
font-family:sans-serif;
font-size:150%;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:normal;
color:#d95834;
line-height:1.3em;
}
.titlet
{
font-family:sans-serif;
font-size:150%;
margin-top:3em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:normal;
color:#d95834;
line-height:1.3em;
}
.titlet1
{
font-family:sans-serif;
font-size:300%;
margin-top:1.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:bold;
color:#d95834;
line-height:1.3em;
}
.titlen
{
font-family:sans-serif;
font-size:180%;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:normal;
color:#d95834;
line-height:1.3em;
}
.titlen1
{
font-family:sans-serif;
font-size:350%;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:bold;
color:#d95834;
line-height:1.3em;
}
.titlet2
{
font-family:sans-serif;
font-size:120%;
margin-top:40%;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:normal;
color:#d95834;
line-height:1.3em;
}
.copy
{
font-family:serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
.copyt
{
font-family:serif;
font-size:0.9em;
margin-top:1.2em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
.copyt1
{
font-family:serif;
font-size:0.9em;
margin-top:2.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
.fmtitle
{
font-family:sans-serif;
font-size:200%;
margin-top:2.5em;
margin-bottom:0.5em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#e89575;
line-height:1.3em;
}
.indent
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:1.5em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}

.indentt
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
text-indent:1.5em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
.noindent
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
.noindent1
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
.noindentt
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
text-indent:1em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
.list
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:1em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
span.li
{
float:left;
margin-left:-1em;
}
.toctle
{
font-family:sans-serif;
font-size:200%;
margin-top:1em;
margin-bottom:1.5em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#e89575;
line-height:1.3em;
}
.tocc
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:5em;
text-indent:0em;
text-align:left;
font-weight:normal;
line-height:1.3em;
}
.tocc2
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:3em;
text-indent:0em;
text-align:left;
font-weight:normal;
line-height:1.3em;
}
span.tocc1
{
float:left;
margin-left:-2em;
}
.tocb
{
font-family:sans-serif;
font-size:120%;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#e89575;
line-height:1.3em;
}
.toc1
{
font-family:sans-serif;
font-size:120%;
margin-top:1.5em;
margin-bottom:1em;
margin-left:2.5em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#d95834;
line-height:1.3em;
}
.toc2
{
font-family:sans-serif;
font-size:120%;
margin-top:1.5em;
margin-bottom:1em;
margin-left:2.5em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#fec249;
line-height:1.3em;
}
.toc3
{
font-family:sans-serif;
font-size:120%;
margin-top:1.5em;
margin-bottom:1em;
margin-left:2.5em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#009a89;
line-height:1.3em;
}
.toc4
{
font-family:sans-serif;
font-size:120%;
margin-top:1.5em;
margin-bottom:1em;
margin-left:2.5em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#f5822b;
line-height:1.3em;
}
.toc5
{
font-family:sans-serif;
font-size:120%;
margin-top:1.5em;
margin-bottom:1em;
margin-left:2.5em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#ce141d;
line-height:1.3em;
}
.toc6
{
font-family:sans-serif;
font-size:120%;
margin-top:1.5em;
margin-bottom:1em;
margin-left:2.5em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#478f39;
line-height:1.3em;
}
.toc7
{
font-family:sans-serif;
font-size:120%;
margin-top:1.5em;
margin-bottom:1em;
margin-left:2.5em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#a3cd39;
line-height:1.3em;
}
.toc8
{
font-family:sans-serif;
font-size:120%;
margin-top:1.5em;
margin-bottom:1em;
margin-left:2.5em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#0f5476;
line-height:1.3em;
}
span.tocs
{
float:left;
margin-left:-2.5em;
}
.ptitle1
{
font-family:sans-serif;
font-size:200%;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#d85834;
line-height:1.3em;
}
.chtitle1
{
font-family:sans-serif;
font-size:160%;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#d85834;
line-height:1.3em;
}
.ptitle2
{
font-family:sans-serif;
font-size:200%;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#fec349;
line-height:1.3em;
}
.chtitle2
{
font-family:sans-serif;
font-size:160%;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#fec349;
line-height:1.3em;
}
.ptitle3
{
font-family:sans-serif;
font-size:200%;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#009a89;
line-height:1.3em;
}
.chtitle3
{
font-family:sans-serif;
font-size:160%;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#009a89;
line-height:1.3em;
}
.ptitle4
{
font-family:sans-serif;
font-size:200%;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#f5822b;
line-height:1.3em;
}
.chtitle4
{
font-family:sans-serif;
font-size:160%;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#f5822b;
line-height:1.3em;
}
.ptitle5
{
font-family:sans-serif;
font-size:200%;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#ce141d;
line-height:1.3em;
}
.chtitle5
{
font-family:sans-serif;
font-size:160%;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#ce141d;
line-height:1.3em;
}
.ptitle6
{
font-family:sans-serif;
font-size:200%;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#478e39;
line-height:1.3em;
}
.chtitle6
{
font-family:sans-serif;
font-size:160%;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#478e39;
line-height:1.3em;
}
.ptitle7
{
font-family:sans-serif;
font-size:200%;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#a3cd39;
line-height:1.3em;
}
.chtitle7
{
font-family:sans-serif;
font-size:160%;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#a3cd39;
line-height:1.3em;
}
.ptitle8
{
font-family:sans-serif;
font-size:200%;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#0f5476;
line-height:1.3em;
}
.chtitle8
{
font-family:sans-serif;
font-size:160%;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#0f5476;
line-height:1.3em;
}
.bmtitle
{
font-family:sans-serif;
font-size:160%;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#e89575;
line-height:1.3em;
}
.list1
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
margin-left:1.5em;
text-indent:0em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
.listn
{
font-family:serif;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:1.5em;
text-indent:0em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
.list1c
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
margin-left:1.5em;
text-indent:0em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
color:#2372b5;
}
span.web
{
color:#2372b5;
}
.tableft
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
margin-left:1em;
}
.tableft1
{
font-family:serif;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:2.5em;
}
.lr
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
margin-left:35%;
margin-right:25%;
text-indent:0em;
text-align:center;
font-weight:normal;
line-height:1.3em;
}
span.li1
{
font-size:0.9em;
float:left;
font-weight:bold;
margin-left:-1.5em;
font-family:sans-serif;
}
.list2
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:3em;
text-indent:0em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
.list2t
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
margin-left:3em;
text-indent:0em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
.list3
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
margin-left:4.5em;
text-indent:0em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
span.li2
{
float:left;
margin-left:-1.5em;
}
.bullet
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
margin-left:3em;
text-indent:0em;
text-align:left;
font-weight:normal;
line-height:1.3em;
}
span.bull
{
float:left;
color:#fec249;
font-weight:bold;
margin-left:-1.5em;
}
span.gbull
{
float:left;
color:#478f39;
font-weight:bold;
margin-left:-1.5em;
}
span.rbull
{
float:left;
color:#ce141d;
font-weight:bold;
margin-left:-1.5em;
}
span.grbull
{
float:left;
color:#a3cd39;
font-weight:bold;
margin-left:-1.5em;
}
span.green1
{
color:#a3cd39;
font-weight:bold;
}
span.red1
{
color:#ce141d;
font-weight:bold;
}
span.green
{
color:#478f39;
font-weight:bold;
}
.dotb
{
border-bottom:1px dotted #000000;
margin-left:1.5em;
margin-right:0.5em;
margin-top:0em;
margin-bottom:0em;
}
.dotbot
{
border-bottom:1px dotted #000000;
margin-left:1.5em;
margin-right:0.5em;
margin-top:0em;
margin-bottom:1em;
}

.dot1
{
border-bottom:1px dotted #000000;
margin-left:0em;
margin-top:0em;
margin-bottom:0em;
}
.dotb1bot
{
border-bottom:1px dotted #000000;
margin-left:3em;
margin-top:0em;
margin-bottom:1em;
}

.dotb1
{
border-bottom:1px dotted #000000;
margin-left:3em;
margin-top:0em;
margin-bottom:0em;
}
.dotb2
{
border-bottom:1px dotted #000000;
margin-left:6em;
margin-top:0em;
margin-bottom:0em;
}
.parar
{
font-family:serif;
font-size:0.9em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:right;
font-weight:normal;
line-height:1.3em;
}
.center
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:normal;
line-height:1.3em;
}
.pcenter
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:normal;
line-height:1.3em;
}
.nobr
{
padding:0.5em;
}
.tabl
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:5em;
text-indent:0em;
text-align:left;
font-weight:normal;
line-height:1.3em;
}
.tabr
{
font-family:serif;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:right;
font-weight:normal;
line-height:1.3em;
}
.tabc
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:normal;
line-height:1.3em;
}
.tabl1
{
font-family:serif;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:0.2em;
text-indent:0em;
text-align:left;
font-weight:normal;
line-height:1.3em;
}
.left
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:1em;
text-indent:0em;
text-align:left;
font-weight:normal;
line-height:1.3em;
}
.rtab
{
border:1px solid #d95834;
padding:0.5em;
}
.tred
{
background-color:#f5c7b2;
border:1px solid #d95834;
padding:0.5em;
}
span.red
{
color:#d95834;
font-weight:bold;
}
span.yellow
{
color:#fec249;
font-weight:bold;
}
.ybr
{
border:1px solid #fec249;
padding:0.5em;
}
.ybrp
{
border:1px solid #fec249;
padding:2em;
}
.ybor
{
border:1px solid #fec249;
background-color:#fff1d8;
margin:1em 60% 1em 1.5em;
padding-bottom:0.3em;
}
.ybor1
{
border:1px solid #fec249;
background-color:#feeac5;
padding-bottom:0.3em;
}
.borb
{
border:1px solid #221e1f;
padding:0.5em;
}
.borg
{
border:1px solid #009a89;
padding:0.5em;
}
.brpg
{
border:1px solid #009a89;
padding:3em;
}
.brorg
{
border:1px solid #f5822b;
padding:0.5em;
}
span.org
{
color:#f5822b;
font-weight:bold;
}
span.blue
{
color:#0072b4;
font-weight:normal;
}
.torg
{
border:1px solid #f5822b;
background-color:#fdd5b4;
padding-bottom:0.2em;
}
.tabg
{
border:1px solid #009a89;
background-color:#c6e5e1;
padding-bottom:0.3em;
}
.dash
{
border-bottom:1px dashed #000000;
margin-top:0em;
margin-bottom:0em;
}
.dashl
{
border-bottom:1px dashed #000000;
margin-top:0em;
margin-left:1.5em;
margin-bottom:0em;
}
.tabs
{
border:1px solid #221e1f;
background-color:#fcdda9;
padding-bottom:0.3em;
}
.bred
{
border:1px solid #ce141d;
padding:0.5em;
}
.tabg1
{
border:1px solid #478f39;
background-color:#dde7d7;
padding-bottom:0.3em;
}
.tabg2
{
border:1px solid #478f39;
background-color:#c0d4b5;
padding-bottom:0.3em;
}
.bgreen
{
border:2px solid #dde7d7;
padding:0.6em 1em;
margin-left:1.5em;
margin-top:1em;

}
.boxblue1
{
border:2px solid #0f5476;
padding:0.5em 1em;
margin-left:1.5em;
margin-top:1em;
}
.boxblue2
{
border:2px solid #e2e4ea;
padding:0.5em 1em;
margin-left:3em;
margin-top:1em;
}
.blue1
{
border:1px solid #0f5476;
}
.tabbg
{
background-color:#c9ccd7;
padding:0.3em 0.5em 0.3em 0.5em;
border:1px solid #0f5476;
}
.tabbg1
{
background-color:#b2b8c6;
padding:0.3em 0.5em 0.3em 0.5em;
border:1px solid #0f5476;
}
.tabbg2
{
background-color:#d6d7e0;
padding:0.2em 0.5em 0.2em 0.5em;
border:1px solid #0f5476;
}
.brg
{
border:1px solid #478f39;
padding:0.3em;
}
.tbg1
{
background-color:#eaf3d5;
border:1px solid #a3cd39;
padding:0.3em;
}
.brg1
{
border:1px solid #a3cd39;
padding:0.3em;
}
.tbg2
{
background-color:#e1edc1;
border:1px solid #a3cd39;
padding:0.3em;
}
.tabm
{
border:1px solid
 #ce141d;
background-color:#f6cdbc;
padding-bottom:0.2em;
}
.tabm1
{
border:1px solid #ce141d;
background-color:#eba188;
padding-bottom:0.2em;
}
.tabs1
{
border:1px solid #ce141d;
background-color:#fff7e6;
padding-bottom:1em;
}
.tabb1
{
border:1px solid #ce141d;
background-color:#eef2fa;
padding-bottom:1em;
}
.imgr
{
float:right;
}
.bmt
{
font-family:serif;
font-size:0.9em;
margin-top:50%;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
.bm
{
font-family:serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
.bmt1
{
font-family:serif;
font-size:0.9em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}

.number
{
font-family:serif;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:1.2em;
text-indent:0em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
span.num
{
float:left;
margin-left:-1.4em;
}
.imagebox
{
font-size:100%;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-align:left;
}