body
{
margin:3%;
font-size:1em;
font-family: serif;
line-height:1.3em;
}
a
{
color:inherit;
text-decoration: none;
}
small
{
font-size:0.8em;
}
table
{
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
border-collapse:collapse;
width:100%;
}
.inline
{
vertical-align:middle;
}
.inlinet
{
vertical-align:top;
}
img
{
max-width:100%;
}
sub
{
font-size:0.8em;
}
sup
{
font-size:0.8em;
}
.pagebreak
{
page-break-before:always;
}
span.underline
{
text-decoration:underline;
}
.title
{
font-family:sans-serif;
font-size:2.3em;
margin-top:3em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
color:#7888b5;
font-weight:bold;
font-style:normal;
line-height:1.3em;
}
.tit
{
font-family:sans-serif;
font-size:2em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:normal;
font-style:normal;
color:#77787b;
line-height:1.3em;
}
.titnum
{
font-family:sans-serif;
font-size:550%;
margin-top:0em;
margin-bottom:35%;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:normal;
font-style:normal;
color:#7888b5;
line-height:1.3em;
}
.titleb
{
font-family:serif;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.copy
{
font-family:serif;
font-size:0.85em;
margin-top:0.1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.copy1
{
font-family:serif;
font-size:0.85em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.imager
{
font-size:1em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:right;
font-weight:normal;
font-style:normal;
}
.image
{
font-size:1em;
margin-top:0.7em;
margin-bottom:0.7em;
margin-left:1.8em;
text-indent:0em;
text-align:center;
font-weight:normal;
font-style:normal;
}
.imagel
{
font-size:1em;
margin-top:0.7em;
margin-bottom:0.7em;
margin-left:2.6em;
text-indent:0em;
text-align:left;
font-weight:normal;
font-style:normal;
}
.imagetb
{
font-size:1em;
margin-top:0.3em;
margin-bottom:0.3em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:normal;
font-style:normal;
}
.imageb
{
font-size:1em;
margin-top:0.3em;
margin-bottom:0.3em;
margin-left:-1em;
text-indent:0em;
text-align:left;
font-weight:normal;
font-style:normal;
}
.contents
{
font-family:sans-serif;
font-size:1.5em;
margin-top:2em;
margin-bottom:2em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
font-style:normal;
color:#6576ab;
line-height:1.3em;
}
.tocp
{
font-family:serif;
font-size:1em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:1.7em;
text-indent:0em;
text-align:left;
font-weight:bold;
font-style:normal;
color:#749556;
line-height:1.3em;
}
span.tp
{
float:left;
margin-left:-1.7em;
}
.toc
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:3.2em;
text-indent:-1.5em;
text-align:left;
font-weight:normal;
font-style:normal;
color:#6576ab;
line-height:1.3em;
}
.chtitle
{
font-family:sans-serif;
font-size:1.4em;
margin-top:1em;
margin-bottom:1em;
margin-left:1.3em;
text-indent:0em;
text-align:left;
font-weight:bold;
font-style:normal;
color:#6576ab;
line-height:1.3em;
}
span.chtit
{
float:left;
margin-left:-1.3em;
padding-right:3px;
}
.chtitle1
{
font-family:sans-serif;
font-size:1.4em;
margin-top:1em;
margin-bottom:1em;
margin-left:1.7em;
text-indent:0em;
text-align:left;
font-weight:bold;
font-style:normal;
color:#6576ab;
line-height:1.3em;
}
span.chtit1
{
float:left;
margin-left:-1.7em;
}
.chtitle2
{
font-family:sans-serif;
font-size:1.4em;
margin-top:1em;
margin-bottom:1em;
margin-left:3.3em;
text-indent:0em;
text-align:left;
font-weight:bold;
font-style:normal;
color:#6576ab;
line-height:1.3em;
}
span.chtit2
{
float:left;
margin-left:-3.3em;
}
.pttitle
{
font-family:sans-serif;
font-size:1em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
font-style:normal;
color:#5575aa;
line-height:1.3em;
}
.listnumalpha
{
font-family:serif;
font-size:1em;
margin-top:1.7em;
margin-bottom:0em;
margin-left:4.5em;
text-indent:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}

.listnum
{
font-family:serif;
font-size:1em;
margin-top:1.7em;
margin-bottom:0em;
margin-left:2.5em;
text-indent:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.listnumt
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:2.5em;
text-indent:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
span.li
{
float:left;
margin-left:-2.5em;
}
.leftpara
{
font-family:sans-serif;
font-size:0.9em;
margin-top:1em;
margin-bottom:0.5em;
margin-left:2.8em;
text-indent:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.leftparan
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:0.5em;
margin-left:2.8em;
text-indent:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}

.leftparat
{
font-family:sans-serif;
font-size:0.9em;
margin-top:1em;
margin-bottom:0.5em;
margin-left:2.8em;
text-indent:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.leftparaint
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:2.8em;
text-indent:1.3em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.leftparars
{
font-family:sans-serif;
font-size:0.9em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:right;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.leftparal
{
font-family:serif;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:2.5em;
text-indent:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.leftparar
{
font-family:serif;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:2.5em;
text-indent:0em;
text-align:right;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.leftparalt
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:0.2em;
margin-left:2.5em;
text-indent:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.tabr
{
font-family:sans-serif;
font-size:0.8em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:right;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.tabr1
{
font-family:sans-serif;
font-size:0.8em;
margin-top:0.5em;
margin-bottom:0em;
margin-right:4em;
text-indent:0em;
text-align:right;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.tabs
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.tabsl
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:3em;
text-indent:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.tabsw
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:normal;
font-style:normal;
color:#ffffff;
line-height:1.3em;
}
.tabswl
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:0.2em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:normal;
font-style:normal;
color:#ffffff;
line-height:1.3em;
}
.tabswll
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:0.2em;
margin-left:3em;
text-indent:0em;
text-align:left;
font-weight:normal;
font-style:normal;
color:#ffffff;
line-height:1.3em;
}
.tabsb
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:0.2em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:normal;
font-style:normal;
color:#231f20;
line-height:1.3em;
}
.tabsbll
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:0.2em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:normal;
font-style:normal;
color:#231f20;
line-height:1.3em;
}
.tabsbt
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:0.7em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:normal;
font-style:normal;
color:#231f20;
line-height:1.3em;
}
.tabsbll1
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:0.2em;
margin-left:3em;
text-indent:0em;
text-align:left;
font-weight:normal;
font-style:normal;
color:#231f20;
line-height:1.3em;
}
.tabsblls
{
font-family:serif;
font-size:1em;
margin-top:0em;
margin-bottom:0.2em;
margin-left:3em;
text-indent:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.tabsblt
{
font-family:sans-serif;
font-size:0.9em;
margin-top:-0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:normal;
font-style:normal;
color:#231f20;
line-height:1.3em;
}
.tabsbl
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:1.5em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:normal;
font-style:normal;
color:#231f20;
line-height:1.3em;
}
.tddb
{
border:1px solid #6d6e71;
background-color:#7a8fbc;
padding:0.5em;
}
.tddbl
{
border:1px solid #6d6e71;
background-color:#dbe6f4;
padding:0.5em;
}
.tddblp
{
border:1px solid #6d6e71;
background-color:#dbe6f4;
padding:0.3em;
}
.tddy
{
border:1px solid #6d6e71;
background-color:#fffde9;
padding:1em 0.5em 1em 0.5em;
}
.tddy1
{
border:1px solid #6d6e71;
background-color:#fffde9;
padding:0.3em;
}
.tddw
{
border:1px solid #6d6e71;
padding:0.3em;
}
span.gray
{
color:#6d6e71;
}
.line
{
margin-bottom:0.3em;
margin-top:0.3em;
margin-left:2.6em;
border-bottom:1px solid #6d6e71;
padding:0em;
}
div.tleft
{
margin-left:2.6em;
}
.rtitle
{
font-family:sans-serif;
font-size:1.2em;
margin-top:1.5em;
margin-bottom:0.5em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
font-style:normal;
color:#d1232a;
line-height:1.3em;
border-bottom:2px dotted #d1232a;
padding-bottom:0.1em;
}
div.bor
{
margin-top:1em;
margin-bottom:1em;
margin-left:2.6em;
border:3px solid #f4e3bb;
padding:0.5em 1em;
border-radius:15px;
}
.borpara
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.borparaint
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:1.3em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.borparar
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:right;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.bullpara
{
font-family:serif;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:4.5em;
text-indent:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.bullparas
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:4.5em;
text-indent:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.bullparast
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.8em;
margin-bottom:0em;
margin-left:4.5em;
text-indent:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.bullparat
{
font-family:serif;
font-size:1em;
margin-top:0.7em;
margin-bottom:0em;
margin-left:4.5em;
text-indent:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
span.bull
{
float:left;
margin-left:-1.8em;
}
div.left
{
margin-left:2.6em;
}
div.leftalpha
{
margin-left:2em;
}
.linkr
{
font-family:serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:0em;
text-indent:0em;
text-align:right;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
span.skyblue
{
color:#2277bc;
font-weight:bold;
}
div.borg
{
margin-top:1em;
margin-bottom:1em;
margin-left:2.6em;
border:3px solid #d2e287;
padding:0.5em 1em;
}
.borgtit
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
font-style:normal;
line-height:1.3em;
color:#f9a51b;
}
.borgpara
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
color:#084079;
}
.borparas
{
font-family:serif;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.borparaints
{
font-family:serif;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:1.3em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.borparars
{
font-family:serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:right;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.bmtitle
{
font-family:sans-serif;
font-size:1.5em;
margin-top:2em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
font-style:normal;
color:#6576ab;
line-height:1.3em;
}
.bmsubtitle
{
font-family:serif;
font-size:1em;
margin-top:2em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
font-style:normal;
color:#749556;
line-height:1.3em;
}
.bmtit
{
font-family:serif;
font-size:0.9em;
margin-top:0.7em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
font-style:normal;
line-height:1.3em;
}
.bmpara
{
font-family:serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:0em;
margin-left:1.7em;
text-indent:0em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
span.bmnum
{
float:left;
margin-left:-1.7em;
}
.bmbib
{
font-family:serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:0em;
margin-left:1.7em;
text-indent:-1.7em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
div.tableft
{
margin-right:30%;
}
div.tableft1
{
margin-right:50%;
}
span.radius
{
background-color:#91b570;
border-radius:15px;
padding:0.2em 0.5em 0.2em 0.5em;
float:left;
margin-left:-2.5em;
margin-top:-0.2em;
color:#ffffff;
font-weight:bold;
}
span.radiusalpha
{
background-color:#91b570;
border-radius:15px;
padding:0.2em 0.5em 0.2em 0.5em;
float:left;
margin-left:-4.5em;
margin-top:-0.2em;
color:#ffffff;
font-weight:bold;
}

span.radius1
{
background-color:#cd151d;
border-radius:15px;
padding:0.2em 0.5em 0.2em 0.5em;
float:left;
margin-left:-2.5em;
margin-top:-0.2em;
color:#ffffff;
font-weight:bold;
}
span.radius2
{
background-color:#91b570;
border-radius:15px;
padding:0.2em 0.3em 0.2em 0.3em;
float:left;
margin-left:-2.5em;
margin-top:-0.2em;
color:#ffffff;
font-weight:bold;
}
div.avoid
{
page-break-inside:avoid;
}