body
{
margin:3%;
font-size:1em;
font-family: serif;
line-height:1.3em;
}
a
{
color:inherit;
text-decoration: none;
}
small
{
font-size:80%;
}
table
{
margin-top:0em;
border-collapse:collapse;
width:100%;
}
.inline
{
vertical-align:middle;
margin-top:-0.2em;
}
.base
{
vertical-align:baseline;
}
img
{
max-width:100%;
}
sub
{
font-size:80%;
}
sup
{
font-size:80%;
}
div.pagebreak
{
 page-break-inside: avoid;
 margin-bottom: 1em;
 margin-top: 1em;
}
.image
{
font-size:1em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:3em;
text-indent:0em;
text-align:center;
font-weight:normal;
line-height:1.3em;
}
.imaget
{
font-size:1em;
margin-top:2.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:normal;
line-height:1.3em;
}
.cover
{
font-size:1em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:normal;
line-height:1.3em;
}
.imagel
{
font-size:100%;
margin-top:1em;
margin-bottom:1em;
margin-left:3em;
text-indent:0em;
text-align:left;
font-weight:normal;
line-height:1.3em;
}

.title
{
font-family:sans-serif;
font-size:2em;
margin-top:10%;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:bold;
color:#5d7470;
line-height:1.3em;
}
.titles
{
font-family:sans-serif;
font-size:1.3em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:bold;
line-height:1.3em;
}
.titlenum
{
font-family:sans-serif;
font-size:3em;
margin-top:0.5em;
margin-bottom:30%;
margin-left:0em;
text-indent:0em;
text-align:center;
color:#7e8c8a;
font-weight:bold;
line-height:1.3em;
}
.titc
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:normal;
line-height:1.3em;
}
.copyt
{
font-family:sans-serif;
font-size:0.8em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:normal;
line-height:1.3em;
}
.copy
{
font-family:sans-serif;
font-size:0.8em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:normal;
line-height:1.3em;
}
.copy1
{
font-family:sans-serif;
font-size:0.8em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:normal;
line-height:1.3em;
}
.copyj
{
font-family:sans-serif;
font-size:0.8em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
.pttitle
{
font-family:sans-serif;
font-size:1.5em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
line-height:1.3em;
color:#a13163;
}
.chtitle
{
font-family:sans-serif;
font-size:1.1em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
line-height:1.3em;
color:#168e94;
}
.chtitlet
{
font-family:sans-serif;
font-size:1.2em;
margin-top:3em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
line-height:1.3em;
color:#168e94;
}
.listnuma
{
font-family:sans-serif;
font-size:0.9em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:4.5em;
text-indent:0em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
span.bgli1
{
background-color:#1272a6;
padding:4px 6px;
color:#ffffff;
font-weight:bold;
font-size:0.8em;
}
span.lic
{
color:#a13163;
font-weight:bold;
}
span.li1
{
float:left;
margin-left:-4.5em;
}

.listnum
{
font-family:sans-serif;
font-size:0.9em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:3em;
text-indent:0em;
text-align:left;
font-weight:normal;
line-height:1.3em;
}
.listnum1
{
font-family:sans-serif;
font-size:0.9em;
margin-top:1em;
margin-bottom:0em;
margin-left:3em;
text-indent:0em;
text-align:left;
font-weight:normal;
line-height:1.3em;
}
span.li
{
background-color:#1272a6;
padding:2px 6px;
float:left;
margin-left:-3.5em;
color:#ffffff;
font-weight:bold;
font-size:0.8em;
}
.lialpha
{
font-family:sans-serif;
font-size:0.9em;
margin-top:1em;
margin-bottom:0em;
margin-left:4.5em;
text-indent:0em;
text-align:left;
font-weight:normal;
line-height:1.3em;
}
.lialpha1
{
font-family:sans-serif;
font-size:0.9em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:6em;
text-indent:0em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
span.bgli
{
border:1px solid #2a4e49;
padding:4px 8px;
border-radius:15px 0px 15px 0px;
float:left;
margin-left:-3em;
}
span.bglin1
{
border:1px solid #2a4e49;
padding:3px 5px;
border-radius:15px 0px 15px 0px;
float:left;
margin-left:-3em;
}
span.bglin
{
border:1px solid #2a4e49;
padding:4px 6px;
border-radius:15px 0px 15px 0px;
float:left;
margin-left:-3em;
}
span.licolor
{
color:#a13163;
float:left;
margin-left:-1.5em;
font-weight:bold;
}
.bor
{
margin-top:0.5em;
margin-bottom:0em;
margin-left:3em;
border-bottom:1px solid #000000;
padding:0em;
}
.borli1
{
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
border-bottom:1px solid #000000;
padding:0em;
}
.tablist
{
margin-top:1.5em;
margin-bottom:0em;
margin-left:3em;
}
.tablist1
{
margin-top:0em;
margin-bottom:0em;
margin-left:3em;
}
.tabc
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:normal;
line-height:1.3em;
}
.tabl
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:normal;
line-height:1.3em;
}
.tablt
{
font-family:sans-serif;
font-size:0.9em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:normal;
line-height:1.3em;
}
.bgbort
{
border-bottom:1px solid #000000;
border-right:1px solid #000000;
border-top:1px solid #000000;
background-color:#faecd3;
padding:0.5em;
vertical-align:top;
}
.bgborl
{
border-bottom:1px solid #000000;
border-right:1px solid #000000;
background-color:#faecd3;
padding:0.5em;
}
.borr
{
border-right:1px solid #000000;
padding:0.5em;
}
.bgborb
{
border-bottom:1px solid #000000;
background-color:#faecd3;
padding:0.5em;
}

.border
{
border:1px solid #000000;
padding:0.5em;
}
.borderp
{
border:1px solid #000000;
padding:5em;
}
.nobor
{
padding:0em;
}
.borli
{
margin-top:0.5em;
margin-left:0em;
border-bottom:1px solid #000000;
padding:0em;
}
.noindent
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:3em;
text-indent:0em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
.noindentt
{
font-family:sans-serif;
font-size:0.9em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:3em;
text-indent:0em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
.center
{
font-family:sans-serif;
font-size:0.9em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:normal;
line-height:1.3em;
}
.centerb
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:normal;
line-height:1.3em;
}
.centert
{
font-family:sans-serif;
font-size:0.9em;
margin-top:2em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:normal;
line-height:1.3em;
}
.indent
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:3em;
text-indent:1.3em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
.righti
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:right;
font-weight:normal;
line-height:1.3em;
font-style:italic;
}
.foot
{
font-family:serif;
font-size:0.8em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:1.7em;
text-indent:-1.7em;
text-align:left;
font-weight:normal;
line-height:1.3em;
}
.ftline
{
margin-top:3em;
margin-bottom:1em;
border-bottom:1px solid #000000;
width:25%;
margin-left:0em;
}
.chtitle1
{
font-family:sans-serif;
font-size:1.5em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
line-height:1.3em;
color:#58585a;
}
.borgreen
{
margin-top:1em;
border:3px solid #d5e3e6;
padding:0.3em;
}
.borcolor
{
margin-top:1em;
margin-left:3em;
border:3px solid #f2f1c9;
padding:0.5em;
border-radius:0px 0px 25px 0px;
}
.borcolor1
{
margin-top:1em;
margin-left:3em;
border:6px solid #f2f1c9;
padding:0.5em;
border-radius:0px 0px 25px 0px;
}
.boxindent
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:1.3em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
.boxindenti
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:1.3em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
font-style:italic;
}
.boxnoindent
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
.boxnoindenti
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
font-style:italic;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
.boxhead
{
font-family:sans-serif;
font-size:1.1em;
margin-top:0.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
color:#58585a;
font-weight:bold;
line-height:1.3em;
}
span.colorn
{
color:#58585a;
}
.caption
{
font-family:sans-serif;
font-size:0.8em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:3em;
text-indent:0em;
text-align:left;
font-weight:normal;
line-height:1.3em;
font-style:italic;
}
div.figure
{
 page-break-inside: avoid;
 margin-bottom: 1em;
 margin-top: 1em;
}
span.bgli2
{
border:1px solid #2a4e49;
padding:4px 13px;
border-radius:15px 0px 15px 0px;
}
.borcolorb
{
margin-top:1em;
margin-left:30%;
margin-right:20%;
border:3px solid #f2f1c9;
padding:0.5em;
border-radius:0px 0px 25px 0px;
}
.tocp
{
font-family:sans-serif;
font-size:1em;
margin-top:1.5em;
margin-bottom:1.5em;
margin-left:1.3em;
text-indent:0em;
text-align:left;
font-weight:bold;
line-height:1.3em;
font-style:normal;
color:#10b1a5;
}
.tocc
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:4em;
text-indent:0em;
text-align:left;
font-weight:normal;
line-height:1.3em;
font-style:normal;
}
span.tocn
{
float:left;
margin-left:-2.5em;
margin-top:0.3em;
}

.bmtitle
{
font-family:sans-serif;
font-size:1.4em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
line-height:1.3em;
color:#a13163;
}
.bmpara
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:2em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:normal;
line-height:1.3em;
}
.bm
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
line-height:1.3em;
}
.bmleft
{
font-family:sans-serif;
font-size:0.9em;
margin-top:1em;
margin-bottom:0em;
margin-left:1.5em;
text-indent:-1.5em;
text-align:left;
font-weight:normal;
line-height:1.3em;
}
.bmct
{
font-family:sans-serif;
font-size:0.8em;
margin-top:15%;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:normal;
line-height:1.3em;
}
.bmc
{
font-family:sans-serif;
font-size:0.8em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:normal;
line-height:1.3em;
}
.imagelc
{
font-size:100%;
margin-top:1em;
margin-bottom:1em;
margin-left:3em;
text-indent:0em;
text-align:center;
font-weight:normal;
line-height:1.3em;
}
