<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css_flipcard.css">
	<title>Flip-3D-card-CSS</title>
</head>
<body>
	<div class="wrap">
        <div class="card"><div class="front"><span>
            Front   </span></div><div class="back"><span>
            Back    </span></div></div>
        
        <div class="card"><div class="front"><span>
            Front   </span></div><div class="back"><span>
            Back    </span></div></div>

        <div class="card"><div class="front"><span>
            Front   </span></div><div class="back"><span>
            Back    </span></div></div>

        <div class="card"><div class="front"><span>
            Front   </span></div><div class="back"><span>
            Back    </span></div></div> 

        <div class="card"><div class="front"><span>
            Front   </span></div><div class="back"><span>
            Back    </span></div></div>

        <div class="card"><div class="front"><span>
            Front   </span></div><div class="back"><span>
            Back    </span></div></div>

        <div class="card"><div class="front"><span>
            Front   </span></div><div class="back"><span>
            Back    </span></div></div>

        <div class="card"><div class="front"><span>
            Front   </span></div><div class="back"><span>
            Back    </span></div></div>                           
    </div>
    


    <script src="css_flipcard.js"></script>
</body>
</html>