<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
    <title>Porfolio</title>
    <link rel="icon" type="image/png" href="./media/favicon_light.png"> <!-- NE NYÚLJ HOZZÁ, MŰKÖDIK -->

    <link rel="stylesheet" href="../templates/css_grid.css"> <!-- NE NYÚLJ HOZZÁ, MŰKÖDIK  -->
</head>
</head>
<body>
	<main>
		<header>
			<h1>Header</h1>
		</header>
		<aside>
			<h2>Sidebar</h2>
			<p>Some side content here.</p>
		</aside>
		<article>
			<h2>Main Content</h2>
			<p>This is the main content area.</p>
		</article>        
        <aside>
			<h2>Sidebar2</h2>
			<p>Some side content here.2</p>
		</aside>
		<footer>

		</footer>
	</main>
</body>
</html>