<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Page with Custom Toggles</title>
  <script type="module">
    import { CustomToggleBt } from './custom-toggle-bt.js';
    import { CustomToggleWifi } from './custom-toggle-wifi.js';
  </script>

  <!-- <script type="module">
    import './custom-toggle-bt.js';
    import './custom-toggle-wifi.js';
  </script> -->

</head>
<body style="background: #222; color: #fff; font-family: system-ui; padding: 2rem;">
  <h1>Template imports</h1>

  <p>This is a reusable toggle imported from the prototype:</p>
  <custom-toggle-bt></custom-toggle-bt>

  <p>And here's another type:</p>
  <custom-toggle-wifi></custom-toggle-wifi>

<!-- FEEDBACK -->
    <div class="feedback">
        <a href="mailto:felisha19761228@gmail.com?
            &subject=Feedback: Porfolio page" target="_top" class="feedback">
            
		<hr>
			Frontnest Studio &copy; <br>Feedback<hr>v.1.1</a>
	</div>

</body>
</html>
