body
{
margin:3%;
font-size:1em;
font-family: serif;
line-height:1.3em;
}
a
{
color:inherit;
text-decoration: none;
}
small
{
font-size:80%;
}
table
{
margin-top:0.5em;
border-collapse:collapse;
width:100%;
margin-left:2.5em;
}
.inline
{
vertical-align:middle;
}
.inlinet
{
vertical-align:base;
}
img
{
max-width:100%;
}
.img2
{
vertical-align: middle;
padding-left:0.5em;
}
sub
{
font-size:80%;
}
sup
{
font-size:80%;
}
.pagebreak
{
page-break-before:always;
}
.image
{
font-size:1em;
margin-top:1em;
margin-bottom:1em;
margin-left:2.5em;
text-indent:0em;
text-align:left;
}
.imagel
{
font-size:1em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
}
.imager
{
font-size:1em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:right;
}
.imagec
{
font-size:1em;
margin-top:1em;
margin-bottom:1em;
margin-left:1.5em;
text-indent:0em;
text-align:center;
}
.title
{
font-family:serif;
font-size:2.8em;
margin-top:5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:bold;
line-height:1.3em;
}
.title1
{
font-family:serif;
font-size:1em;
margin-top:45%;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:normal;
}
.copyt
{
font-family:serif;
font-size:0.9em;
margin-top:1.2em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
}
.copytt
{
font-family:serif;
font-size:0.9em;
margin-top:2em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
}
.copy
{
font-family:serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
}
.contents
{
font-family:sans-serif;
font-size:1.2em;
margin-top:3em;
margin-bottom:1.5em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#0f489d;
}
.tocp
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:1em;
margin-left:2em;
text-indent:0em;
text-align:left;
font-weight:bold;
}
span.tt
{
float:left;
margin-left:-2em;
}
.toc
{
font-family:serif;
font-size:1em;
margin-top:0.3em;
margin-bottom:1em;
margin-left:3.5em;
text-indent:0em;
text-align:left;
font-weight:normal;
}
span.tt1
{
float:left;
margin-left:-1.5em;
}
.fmtitle
{
font-family:sans-serif;
font-size:1.2em;
margin-top:2em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#103582;
}
.h3
{
font-family:serif;
font-size:100%;
margin-top:1em;
margin-bottom:0.3em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#103582;
}
.noindent
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-weight:normal;
}
.noindentl
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:1.5em;
text-indent:0em;
text-align:justify;
font-weight:normal;
}
.noindent2
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:2.5em;
text-indent:0em;
text-align:justify;
font-weight:normal;
}
.noindent2t
{
font-family:serif;
font-size:1em;
margin-top:2em;
margin-bottom:0em;
margin-left:2.5em;
text-indent:0em;
text-align:justify;
font-weight:normal;
}
.alpha
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:1.5em;
text-indent:0em;
text-align:justify;
font-weight:normal;
}
span.alp
{
float:left;
margin-left:-1.5em;
}
.border
{
border-bottom:1px solid #b3b2b2;
margin-left:2.5em;
margin-top:0.5em;
margin-bottom:0em;
}
span.lgrey
{
color:#b3b2b2;
}
.fcaption
{
font-family:serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:normal;
}
.pttitle
{
font-family:sans-serif;
font-size:1.2em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:1.5em;
text-indent:0em;
text-align:left;
font-weight:bold;

}
.chtitle
{
font-family:sans-serif;
font-size:1.1em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:1.5em;
text-indent:0em;
text-align:left;
font-weight:normal;
}
span.ch
{
float:left;
margin-left:-1.5em;
}
.listnum
{
font-family:serif;
font-size:1em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:2.5em;
text-indent:0em;
text-align:justify;
font-weight:normal;
}

.listnum1
{
font-family:serif;
font-size:1em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:4em;
text-indent:0em;
text-align:justify;
font-weight:normal;
}
span.li2
{
float:left;
margin-left:-4em;
}
span.li1
{
float:left;
margin-left:-2.5em;
}
.listalpha
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:4em;
text-indent:0em;
text-align:justify;
font-weight:normal;
}
.listalphat
{
font-family:serif;
font-size:1em;
margin-top:1.2em;
margin-bottom:0em;
margin-left:4em;
text-indent:0em;
text-align:justify;
font-weight:normal;
}
.listalphatt
{
font-family:serif;
font-size:1em;
margin-top:5em;
margin-bottom:0em;
margin-left:4em;
text-indent:0em;
text-align:justify;
font-weight:normal;
}
span.lialpha
{
float:left;
margin-left:-1.5em;
}
.textc
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:1.5em;
text-indent:0em;
text-align:center;
font-weight:normal;
}
td.pad
{
padding-right:0.8em;
}
.tabl
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:normal;
}
.tab2
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:normal;
}
.tabc
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:normal;
}
.tabr
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:2.5em;
text-indent:0em;
text-align:right;
font-weight:normal;
}
span.iblue
{
color:#103582;
}
span.lgreen
{
color:#2ab256;
}
span.sblue
{
color:#01a2b3;
}
span.red
{
color:#f23a3f;
}
span.red1
{
color:#d2292b;
}
span.green
{
color:#83bd68;
}
span.yellow
{
color:#ffbd29;
}
span.blue1
{
color:#22a6b3;
}
span.orange
{
color:#c69f63;
}
div.borsb
{
margin-top:1em;
margin-bottom:1em;
border:3px solid #01a2b3;
padding:0.5em;
border-radius:25px;
}
div.borbr
{
margin-top:1em;
margin-bottom:1em;
border:3px solid #897f75;
padding:0.5em;
}
div.borsred
{
margin-top:1em;
margin-bottom:1em;
border:3px dashed #b91e40;
padding:0.5em;
border-radius:25px;
}
div.bor1
{
margin-top:1em;
margin-bottom:1em;
border:3px solid #dbeee1;
padding:0.5em;
border-radius:25px;
}

.boxheads
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
}
.boxheadsan
{
font-family:sans-serif;
font-size:0.95em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
}
span.fright
{
float:right;
}
div.tb
{
margin-top:4em;
margin-bottom:4em;
}
.alphai
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:1.3em;
text-indent:-1.3em;
text-align:justify;
font-weight:normal;
}
.noindent2a
{
font-family:serif;
font-size:1em;
margin-top:5em;
margin-bottom:0em;
margin-left:2.5em;
text-indent:0em;
text-align:justify;
font-weight:normal;
}
.noindent2b
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:4em;
text-indent:0em;
text-align:justify;
font-weight:normal;
}

.borderb1
{
border-bottom:1px solid #b3b2b2;
margin-left:4.0em;
margin-top:0.5em;
margin-bottom:0em;
}

.brown
{
color:#82553c;
}