body
{
margin:3%;
font-size:1em;
font-family: serif;
line-height:1.3em;
}
a
{
color:inherit;
text-decoration: none;
}
small
{
font-size:80%;
}
table
{
margin-top:1em;
margin-bottom:1em;
border-collapse:collapse;
width:100%;
}
.inline
{
vertical-align:middle;
}
img
{
max-width:100%;
}
sub
{
font-size:80%;
}
sup
{
font-size:80%;
}
div.break
{
 page-break-inside: avoid;
 margin-bottom: 1em;
 margin-top: 1em;
}
div.pagebreak
{
 page-break-inside: avoid;
 margin-bottom: 1em;
 margin-top: 1em;
}
.image
{
font-size:1em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:normal;
line-height:1.3em;
}
.imagec
{
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-weight:normal;
line-height:1.3em;
}
.imagel
{
font-size:1em;
margin-top:0em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:normal;
line-height:1.3em;
}
.imager
{
font-size:1em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:right;
font-weight:normal;
line-height:1.3em;
}
.author
{
font-family:sans-serif;
font-size:1em;
margin-top:2em;
margin-bottom:0em;
text-align:center;
color:#e05936;
}
.title
{
font-family:sans-serif;
font-size:2em;
margin-top:1.5em;
margin-bottom:0em;
text-align:center;
font-weight:bold;
color:#d95936;
}
.titlen
{
font-family:sans-serif;
font-size:3.5em;
margin-top:1.5em;
margin-bottom:0em;
text-align:center;
font-weight:bold;
color:#d95936;
}
.subtitle
{
font-family:sans-serif;
font-size:1.3em;
margin-top:1.5em;
margin-bottom:0em;
text-align:center;
color:#d95936;
}
.titlec
{
font-family:sans-serif;
font-size:1em;
margin-top:40%;
margin-bottom:0em;
text-align:center;
color:#d95936;
}
.copy
{
font-family:serif;
font-size:0.8em;
margin-top:0.4em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
line-height:1.3em;
}
.copy1
{
font-family:serif;
font-size:0.8em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
line-height:1.3em;
}
.copyt
{
font-family:serif;
font-size:0.8em;
margin-top:2.7em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
line-height:1.3em;
}
.copytt
{
font-family:serif;
font-size:0.8em;
margin-top:15%;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
line-height:1.3em;
}
.pub
{
font-family:serif;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
line-height:1.3em;
}
.contents
{
font-family:sans-serif;
font-size:1.5em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#e89575;
line-height:1.3em;
}
.tocf
{
font-family:sans-serif;
font-size:1.0em;
margin-top:2.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#e89575;
line-height:1.3em;
}
.toc
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:2em;
text-indent:0em;
text-align:left;
font-weight:normal;
line-height:1.3em;
}
.tocc
{
font-family:serif;
font-size:0.9em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:3.8em;
text-indent:0em;
text-align:left;
font-weight:normal;
line-height:1.3em;
}
span.tocn
{
margin-left:-1.5em;
float:left;
}
.tocp1
{
font-family:sans-serif;
font-size:1em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:2em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#d95936;
line-height:1.3em;
}
span.tocpn
{
float:left;
margin-left:-2em;
}
.tocp2
{
font-family:sans-serif;
font-size:1em;
margin-top:2em;
margin-bottom:0em;
margin-left:2em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#fec14a;
line-height:1.3em;
}
.tocp3
{
font-family:sans-serif;
font-size:1em;
margin-top:2em;
margin-bottom:0em;
margin-left:2em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#009b89;
line-height:1.3em;
}
.tocp4
{
font-family:sans-serif;
font-size:1em;
margin-top:2em;
margin-bottom:0em;
margin-left:2em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#f5822b;
line-height:1.3em;
}
.tocp5
{
font-family:sans-serif;
font-size:1em;
margin-top:2em;
margin-bottom:0em;
margin-left:2em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#ce171f;
line-height:1.3em;
}
.tocp6
{
font-family:sans-serif;
font-size:1em;
margin-top:2em;
margin-bottom:0em;
margin-left:2em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#448e3a;
line-height:1.3em;
}
.tocp7
{
font-family:sans-serif;
font-size:1em;
margin-top:2em;
margin-bottom:0em;
margin-left:2em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#a3cd39;
line-height:1.3em;
}
.tocp8
{
font-family:sans-serif;
font-size:1em;
margin-top:2em;
margin-bottom:0em;
margin-left:2em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#115576;
line-height:1.3em;
}
.pttitle
{
font-family:sans-serif;
font-size:1.6em;
margin-top:1em;
margin-bottom:2em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#e89575;
line-height:1.3em;
}
.pttitle1
{
font-family:sans-serif;
font-size:1.6em;
margin-top:1em;
margin-bottom:2em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#d85a36;
line-height:1.3em;
}
.pttitle2
{
font-family:sans-serif;
font-size:1.6em;
margin-top:1em;
margin-bottom:2em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#fec149;
line-height:1.3em;
}
.pttitle3
{
font-family:sans-serif;
font-size:1.6em;
margin-top:1em;
margin-bottom:2em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#009b89;
line-height:1.3em;
}
.pttitle4
{
font-family:sans-serif;
font-size:1.6em;
margin-top:1em;
margin-bottom:2em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#f5822c;
line-height:1.3em;
}
.pttitle5
{
font-family:sans-serif;
font-size:1.6em;
margin-top:1em;
margin-bottom:2em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#ce171f;
line-height:1.3em;
}
.pttitle6
{
font-family:sans-serif;
font-size:1.6em;
margin-top:1em;
margin-bottom:2em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#468d39;
line-height:1.3em;
}
.pttitle7
{
font-family:sans-serif;
font-size:1.6em;
margin-top:1em;
margin-bottom:2em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#a3cd39;
line-height:1.3em;
}
.pttitle8
{
font-family:sans-serif;
font-size:1.6em;
margin-top:1em;
margin-bottom:2em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#115576;
line-height:1.3em;
}
.chtitle1
{
font-family:sans-serif;
font-size:1.5em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#d85a36;
line-height:1.3em;
}
.chtitle2
{
font-family:sans-serif;
font-size:1.5em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#fec149;
line-height:1.3em;
}
.chtitle3
{
font-family:sans-serif;
font-size:1.5em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#009b89;
line-height:1.3em;
}
.chtitle4
{
font-family:sans-serif;
font-size:1.5em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#f5822c;
line-height:1.3em;
}
.chtitle5
{
font-family:sans-serif;
font-size:1.5em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#cd171f;
line-height:1.3em;
}
.chtitle6
{
font-family:sans-serif;
font-size:1.5em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#468d39;
line-height:1.3em;
}
.chtitle7
{
font-family:sans-serif;
font-size:1.5em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#a3cd39;
line-height:1.3em;
}
.chtitle8
{
font-family:sans-serif;
font-size:1.5em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#115577;
line-height:1.3em;
}
.fmtitle
{
font-family:sans-serif;
font-size:1.2em;
margin-top:1.5em;
margin-bottom:2em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#e89575;
line-height:1.3em;
}
.noindent
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
.noindent1
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
.indent
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:1.5em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
.indent1
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
text-indent:1.5em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
.boxhypen
{
font-family:serif;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:3em;
text-indent:0em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
span.hypen
{
float:left;
margin-left:-1.5em;
}
.parai
{
font-family:serif;
font-size:1em;
margin-top:0.3em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
font-style:italic;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
.boxnoindent
{
font-family:serif;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
.boxserif
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
div.boxred
{
border:3px solid #d95936;
border-radius:40px 0px 0px 0px;
padding:0.5em 1em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
}
div.boxyl
{
border:3px solid #fec14a;
border-radius:40px 0px 0px 0px;
padding:0.5em 1em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
}
div.boxred1
{
border:3px solid #d95936;
border-radius:10px;
padding:0.5em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}
div.boxred2
{
border:3px solid #d95936;
padding:0.5em;
margin-top:2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}
div.boxy1
{
border:3px solid #fed289;
border-radius:10px;
padding:0.5em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}
div.boxy2
{
border:3px solid #fec14a;
padding:0.5em;
margin-top:2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}
div.boxg
{
border:3px solid #009b89;
border-radius:40px 0px 0px 0px;
padding:0.5em 1em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
}
div.boxg1
{
border:3px solid #009b89;
border-radius:10px;
padding:0.5em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}
div.boxg2
{
border:3px solid #009b89;
padding:0.5em;
margin-top:2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}
div.boxorg
{
border:3px solid #f5822b;
border-radius:40px 0px 0px 0px;
padding:0.5em 1em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
}
div.boxorg1
{
border:3px solid #f5822b;
border-radius:10px;
padding:0.5em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}
div.boxorg2
{
border:3px solid #f5822b;
padding:0.5em;
margin-top:2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}
div.boxr
{
border:3px solid #ce171f;
border-radius:40px 0px 0px 0px;
padding:0.5em 1em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
}
div.boxrb
{
border:3px solid #ce171f;
padding:0.5em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}

div.boxlrg1
{
border:3px solid #ce171f;
border-radius:10px;
padding:0.5em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}
div.boxlrg2
{
border:3px solid #ce171f;
padding:0.5em;
margin-top:2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}
div.boxtg
{
border:3px solid #438c39;
border-radius:40px 0px 0px 0px;
padding:0.5em 1em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
}
div.boxtg1
{
border:3px solid #448e3a;
border-radius:10px;
padding:0.5em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}
div.boxtg2
{
border:3px solid #448e3a;
padding:0.5em;
margin-top:2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}
div.boxfg
{
border:3px solid #a3cd39;
border-radius:40px 0px 0px 0px;
padding:0.5em 1em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
}
div.boxfg1
{
border:3px solid #a3cd39;
border-radius:10px;
padding:0.5em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}
div.boxfg2
{
border:3px solid #a3cd39;
padding:0.5em;
margin-top:2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}
div.boxbb
{
border:3px solid #115576;
border-radius:40px 0px 0px 0px;
padding:0.5em 1em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
}
div.boxbb1
{
border:3px solid #115576;
border-radius:10px;
padding:0.5em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}
div.boxbb2
{
border:3px solid #115576;
padding:0.5em;
margin-top:2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
}
.boxindent
{
font-family:serif;
font-size:1em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:1.5em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
div.boxsa
{
background-color:#f1b59b;
border-radius:0px 0px 50px 0px;
padding:0.5em 1em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
}
div.boxsal
{
border:3px solid #f7d7c7;
border-radius:25px 0px 0px 0px;
padding:0.5em 1em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
}
div.boxsal1
{
border:3px solid #f7d7c7;
padding:0.5em 1em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
}
div.boxvl
{
background-color:#b2a8d3;
border-radius:0px 50px 0px 0px;
padding:0em 1em 1em 1em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
}
div.boxy
{
background-color:#face85;
border-radius:0px 0px 50px 0px;
padding:0.5em 1em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
}
div.boxgn
{
background-color:#91cec9;
border-radius:0px 0px 50px 0px;
padding:0.5em 1em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
}
div.boxrg
{
background-color:#fcc9a0;
border-radius:0px 0px 50px 0px;
padding:0.5em 1em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
}
div.boxrgl
{
border:3px solid #fee2ca;
border-radius:25px 0px 0px 0px;
padding:0.5em 1em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
}
div.boxlrg
{
background-color:#f4b49b;
border-radius:0px 0px 50px 0px;
padding:0.5em 1em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
}
div.boxlg
{
background-color:#adc8a0;
border-radius:0px 0px 50px 0px;
padding:0.5em 1em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
}
div.boxlgl
{
border:3px solid #d3e1cb;
border-radius:25px 0px 0px 0px;
padding:0.5em 1em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
}
div.boxlg1
{
background-color:#cae192;
border-radius:0px 0px 50px 0px;
padding:0.5em 1em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
}
div.boxfgl
{
border:3px solid #e0edbd;
border-radius:25px 0px 0px 0px;
padding:0.5em 1em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
}
div.boxbgl
{
background-color:#d2d5de;
border-radius:0px 0px 50px 0px;
padding:0.5em 1em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
}
div.boxbl1
{
border:3px solid #d2d5de;
padding:0.5em 1em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
}
div.boxbl
{
border:3px solid #d2d5de;
border-radius:25px 0px 0px 0px;
padding:0.5em 1em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
margin-right:0em;
}
.h2-p1
{
font-family:sans-serif;
font-size:1.1em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#d95936;
line-height:1.3em;
}
.h2-p2
{
font-family:sans-serif;
font-size:1.1em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#fec14a;
line-height:1.3em;
}
.h2-pt2
{
font-family:sans-serif;
font-size:1.1em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#e29718;
line-height:1.3em;
}
.h2-p3
{
font-family:sans-serif;
font-size:1.1em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#009b89;
line-height:1.3em;
}
.h2-pt3
{
font-family:sans-serif;
font-size:1.1em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#0c9b89;
line-height:1.3em;
}
.h2-p4
{
font-family:sans-serif;
font-size:1.1em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#f5822b;
line-height:1.3em;
}
.h2-pt4
{
font-family:sans-serif;
font-size:1.1em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#f5824e;
line-height:1.3em;
}
.h2-p5
{
font-family:sans-serif;
font-size:1.1em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#ce171f;
line-height:1.3em;
}
.h2-pt5
{
font-family:sans-serif;
font-size:1.1em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#ce171f;
line-height:1.3em;
}
.h2-p6
{
font-family:sans-serif;
font-size:1.1em;
margin-top:1em;
margin-bottom:1.5em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#448e3a;
line-height:1.3em;
}
.h2-p7
{
font-family:sans-serif;
font-size:1.1em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#a3cd39;
line-height:1.3em;
}
.h2-p8
{
font-family:sans-serif;
font-size:1.1em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-weight:bold;
color:#115576;
line-height:1.3em;
}
.caption
{
font-family:serif;
font-size:0.9em;
margin-top:0.2em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
font-style:italic;
text-align:center;
font-weight:bold;
line-height:1.3em;
}
.caption1
{
font-family:serif;
font-size:0.9em;
margin-top:0.2em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
font-style:italic;
text-align:center;
font-weight:normal;
line-height:1.3em;
}
div.figure
{
 page-break-inside: avoid;
 margin-bottom: 1em;
 margin-top: 1em;
}
span.serif
{
font-style:normal;
font-weight:normal;
font-family:serif;
}
span.normal
{
font-weight:normal;
}
.boxh2
{
font-family:sans-serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-weight:bold;
line-height:1.3em;
color:#d9593a;
}
.box-p4
{
font-family:sans-serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-weight:bold;
line-height:1.3em;
color:#f5822b;
}
.box-h6
{
font-family:sans-serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-weight:bold;
line-height:1.3em;
color:#448e3a;
}
.box-h7
{
font-family:sans-serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-weight:bold;
line-height:1.3em;
color:#a3cd39;
}
.box-h8
{
font-family:sans-serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-weight:bold;
line-height:1.3em;
color:#365676;
}
.boxhead
{
font-family:sans-serif;
font-size:1.1em;
margin-top:0.3em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-weight:bold;
line-height:1.3em;
color:#ffffff;
}
.parab
{
font-family:serif;
font-size:1em;
margin-top:0.3em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-weight:bold;
line-height:1.3em;
}
.parabi
{
font-family:serif;
font-size:1em;
margin-top:0.3em;
margin-bottom:0em;
margin-left:0em;
text-indent:1.3em;
text-align:justify;
font-weight:bold;
line-height:1.3em;
}
.number
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
margin-left:1.5em;
text-indent:0em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
.numberb
{
font-family:serif;
font-size:1em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:1.5em;
text-indent:0em;
text-align:justify;
font-weight:bold;
line-height:1.3em;
}
span.num
{
float:left;
margin-left:-1.5em;
}
.bullet
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
margin-left:3em;
text-indent:0em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
.bulletl
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
margin-left:4.5em;
text-indent:0em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
span.bull
{
color:#f5822b;
float:left;
margin-left:-1.5em;
}
span.bullr
{
color:#ce171f;
float:left;
margin-left:-1.5em;
}
.alpha
{
font-family:serif;
font-size:1em;
margin-top:1em;
margin-bottom:0em;
margin-left:3em;
text-indent:0em;
text-align:justify;
font-weight:normal;
line-height:1.3em;
}
span.li
{
float:left;
margin-left:-1.5em;
}
.figl
{
font-family:serif;
font-size:1em;
margin-top:0.3em;
margin-bottom:0em;
margin-left:20%;
text-indent:0em;
text-align:left;
font-weight:normal;
line-height:1.3em;
}
spna.blue
{
color:#3853a4;
}