body
{
margin:3%;
font-size:1em;
font-family: serif;
line-height:1.3em;
}
a
{
color:inherit;
text-decoration: none;
}
small
{
font-size:80%;
}
table
{
margin-top:1em;
margin-bottom:1em;
border-collapse:collapse;
width:100%;
}
.inline
{
vertical-align:middle;
}
img
{
max-width:100%;
}
sub
{
font-size:80%;
}
sup
{
font-size:80%;
}
.pagebreak
{
page-break-before:always;
}
.image
{
font-size:1em;
margin-top:0em;
margin-bottom:0.5em;
margin-left:0em;
text-indent:0em;
text-align:center;
}
.image1
{
font-size:1em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:center;
}
.publ
{
font-size:1em;
margin-top:0.5em;
margin-bottom:0.5em;
margin-left:0em;
text-indent:0em;
text-align:left;
}
.imager
{
font-size:1em;
margin-top:1em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:right;
}

.author
{
font-family:serif;
font-size:2em;
margin-top:1em;
margin-bottom:1.5em;
margin-left:0em;
text-indent:0em;
text-align:center;
color:#d47e3a;
font-weight:bold;
}
.title
{
font-family:serif;
font-size:2.8em;
margin-top:0.5em;
margin-bottom:em;
margin-left:0em;
text-indent:0em;
text-align:center;
color:#ecd593;
font-weight:bold;
}
.title1
{
font-family:serif;
font-size:1.8em;
margin-top:0.5em;
margin-bottom:em;
margin-left:0em;
text-indent:0em;
text-align:center;
color:#d47e3a;
font-weight:bold;
}
.title2
{
font-family:serif;
font-size:1.3em;
margin-top:2.5em;
margin-bottom:em;
margin-left:0em;
text-indent:0em;
text-align:center;
color:#d47e3a;
font-weight:bold;
}
.titleb
{
font-family:serif;
font-size:0.9em;
margin-top:30%;
margin-bottom:em;
margin-left:0em;
text-indent:0em;
text-align:center;
}
.copyt
{
font-family:serif;
font-size:0.9em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
}
.copy
{
font-family:serif;
font-size:0.9em;
margin-top:0.1em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
}
.copytt
{
font-family:serif;
font-size:0.9em;
margin-top:2.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
}
.fcaption
{
font-size:0.9em;
font-family:sans-serif;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
}
.fmtitle
{
font-family:serif;
font-size:2.3em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
color:#d47e3a;
font-weight:bold;
}
.pttitle
{
font-family:serif;
font-size:2.3em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
color:#d47e3a;
font-weight:bold;
}
.chtitle
{
font-family:serif;
font-size:2em;
margin-top:1.5em;
margin-bottom:1.5em;
margin-left:0em;
text-indent:0em;
text-align:left;
color:#d47e3a;
font-weight:bold;
line-height:1.2em;
}
.chtitle1
{
font-family:serif;
font-size:2.3em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
color:#d47e3a;
font-weight:bold;
line-height:1.2em;
}
.h2
{
font-family:serif;
font-size:1.5em;
margin-top:1.5em;
margin-bottom:1em;
margin-left:0em;
text-indent:0em;
text-align:left;
color:#d47e3a;
font-weight:bold;
}
.h3
{
font-family:serif;
font-size:1.5em;
margin-top:1.5em;
margin-bottom:0.5em;
margin-left:0em;
text-indent:0em;
text-align:left;
color:#d47e3a;
font-weight:bold;
}
.h3nt
{
font-family:serif;
font-size:1.5em;
margin-top:0em;
margin-bottom:0.5em;
margin-left:0em;
text-indent:0em;
text-align:left;
color:#d47e3a;
font-weight:bold;
}
.h3a
{
font-family:sans-serif;
font-size:0.9em;
margin-top:1.5em;
margin-bottom:1em;
text-align:left;
font-weight:bold;
font-style:normal;
line-height:1.3em;
}
.h3b
{
font-family:sans-serif;
font-size:1.2em;
margin-top:1em;
margin-bottom:1em;
text-align:left;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.h3d
{
font-family:serif;
font-size:1.5em;
margin-top:1.5em;
margin-bottom:1em;
text-align:left;
font-weight:bold;
font-style:normal;
line-height:1.3em;
}
span.dropcap
{
   float: left;
 font-size: 320%;
 font-weight: normal;
 text-align: left;
 margin-top: 0.2em;
 margin-bottom: 0em;
 margin-left: 0em;
 margin-right: 0.1em;
 color:#d47e3a;
}
span.white
{
color:#ffffff;
}
span.dblue
{
color:#00587c;
font-weight:bold;
}
span.dblue1
{
color:#00587c;
}
span.yellow
{
color:#ffd662;
font-weight:bold;
}
span.vblue
{
color:#6f86a1;
font-weight:bold;
}
.noindent
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.noindentt
{
font-family:serif;
font-size:1em;
margin-top:1.5em;
margin-bottom:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.noindentsan
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.2em;
margin-bottom:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.noindentsant
{
font-family:sans-serif;
font-size:0.9em;
margin-top:1.5em;
margin-bottom:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.noindents
{
font-family:serif;
font-size:0.95em;
margin-top:2em;
margin-bottom:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.noindentst
{
font-family:serif;
font-size:0.95em;
margin-top:2em;
margin-bottom:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.noindentst1
{
font-family:serif;
font-size:0.95em;
margin-top:0.5em;
margin-bottom:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.indent
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
text-align:justify;
text-indent:1.5em;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.indentt
{
font-family:serif;
font-size:1em;
margin-top:1.5em;
margin-bottom:0em;
text-align:justify;
text-indent:1.5em;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.rightt
{
font-family:serif;
font-size:1em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:right;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.right2
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:right;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.right
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
text-align:right;
margin-right:20%;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
.left1
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
text-align:left;
margin-left:20%;
font-weight:normal;
font-style:normal;
line-height:1.3em;
}
div.figure
{
page-break-inside: avoid;
margin-top:1em;
margin-bottom:1em;
}
div.figurel
{
page-break-inside: avoid;
margin-top:1em;
margin-bottom:1em;
margin-left:10%;
text-align:left;
}

div.borib
{
border:solid 3px #8597ae;
padding:0.5em;
margin-top:1em;
margin-bottom:1em;
}
div.bory
{
border:solid 3px #f3ed8e;
padding:0.5em;
margin-top:1em;
margin-bottom:1em;
}
div.boror
{
border:solid 3px #e9ce80;
padding:0.5em;
margin-top:1em;
margin-bottom:1em;
}
div.borgr
{
border:solid 3px #9b988a;
padding:0.5em;
margin-top:1em;
margin-bottom:1em;
}
div.borsan
{
border:solid 3px #eecda5;
padding:0.5em;
margin-top:1em;
margin-bottom:1em;
}
div.borv
{
border:solid 3px #b1b9c9;
padding:0.5em;
margin-top:1em;
margin-bottom:1em;
}
div.left
{
margin-left:2.5em;
margin-top:1em;
margin-bottom:1em;
}
.tabl
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.3em;
margin-bottom:0em;
text-align:left;
font-weight:normal;
font-style:normal;
}
.tablt
{
font-family:sans-serif;
font-size:0.9em;
margin-top:1em;
margin-bottom:0em;
text-align:left;
font-weight:normal;
font-style:normal;
}
.tabc
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.3em;
margin-bottom:0em;
text-align:center;
font-weight:normal;
font-style:normal;
}
.tabh
{
font-family:sans-serif;
font-size:1.1em;
margin-top:0.3em;
margin-bottom:0em;
text-align:center;
font-weight:bold;
font-style:normal;
}
.tabr
{
font-family:serif;
font-size:1em;
margin-top:0.3em;
margin-bottom:0em;
text-align:right;
font-weight:normal;
font-style:normal;
}
.tab1
{
font-family:serif;
font-size:1em;
margin-top:0.3em;
margin-bottom:0em;
text-align:left;
font-weight:normal;
font-style:normal;
}
.tab2
{
font-family:serif;
font-size:1em;
margin-top:0.3em;
margin-bottom:0em;
margin-left:2em;
text-align:left;
font-weight:normal;
font-style:normal;
}
td.pad
{
padding-right:1em;
vertical-align:top;
}
.tdborh
{
padding:0.5em;
background-color:#9b988a;
vertical-align:top;
}
.tdborg
{
padding:0.5em;
background-color:#e7e5e2;
vertical-align:top;
}
.tdborg1
{
padding:0.5em;
background-color:#d2cec7;
vertical-align:top;
}
.tdbory
{
padding:0.5em;
border-bottom:3px solid #ffffff;
background-color:#efdb9f;
vertical-align:top;
}
.tdbory1
{
padding:0.5em;
border-right:3px solid #ffffff;
border-bottom:3px solid #ffffff;
background-color:#f6edd1;
vertical-align:top;
}
.tdbory2
{
padding:0.5em;
border-bottom:3px solid #ffffff;
background-color:#f6edd1;
vertical-align:top;
}
.borg
{
padding:0.5em;
border-right:3px solid #ffffff;
border-bottom:3px solid #ffffff;
background-color:#cdcac2;
vertical-align:top;
}
.borg1
{
padding:0.5em;
border-bottom:3px solid #ffffff;
background-color:#cdcac2;
vertical-align:top;
}
.borlg
{
padding:0.5em;
border-right:3px solid #ffffff;
border-bottom:3px solid #ffffff;
background-color:#dcd9d3;
vertical-align:top;
}
.borlg1
{
padding:0.5em;
border-bottom:3px solid #ffffff;
background-color:#dcd9d3;
vertical-align:top;
}

.bullet
{
font-family:sans-serif;
font-size:0.9em;
margin-top:0.2em;
margin-bottom:0em;
margin-left:1.7em;
text-indent:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
}
.bullett
{
font-family:sans-serif;
font-size:0.9em;
margin-top:1em;
margin-bottom:0em;
margin-left:1.7em;
text-indent:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
}
span.bull
{
float:left;
margin-left:-1.7em;
}

.subt
{
font-family:serif;
font-size:1.3em;
margin-top:1.5em;
margin-bottom:0em;
text-align:left;
font-weight:bold;
font-style:normal;
line-height:1.3em;
color:#d47e3a;
}
span.radius
{
font-size:1.2em;
border-radius:15px 15px 15px 15px;
padding:0.2em 0.5em 0.2em 0.5em;
background-color:#00587c;
color:#f4e6cc;
vertical-align:top;
float: left;
 font-weight: normal;
 text-align: left;
 margin-top: 0em;
 margin-bottom: 0.1em;
 margin-left: 0em;
 margin-right: 0.1em;
}
.bmtitle
{
font-family:serif;
font-size:2em;
margin-top:1.5em;
margin-bottom:2em;
margin-left:0em;
text-indent:0em;
text-align:left;
color:#d47e3a;
font-weight:bold;
line-height:1.2em;
}
.tocp
{
font-family:serif;
font-size:1em;
margin-top:0.5em;
margin-bottom:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
color:#d47e3a;
font-weight:bold;
line-height:1.2em;
}
.toc
{
font-family:serif;
font-size:1em;
margin-top:0.3em;
margin-bottom:0em;
margin-left:2em;
text-indent:0em;
text-align:left;
font-weight:normal;
line-height:1.2em;
}
.tocc
{
font-family:serif;
font-size:1em;
margin-top:0.3em;
margin-bottom:0em;
margin-left:3.2em;
text-indent:0em;
text-align:left;
font-weight:normal;
line-height:1.2em;
}
.number
{
font-family:serif;
font-size:0.95em;
margin-top:0.2em;
margin-bottom:0em;
margin-left:4em;
text-indent:0em;
text-align:justify;
font-weight:normal;
font-style:normal;
}
span.num
{
float:left;
margin-left:-3.3em;
}
.bmindent
{
font-family:serif;
font-size:0.95em;
margin-top:0.2em;
margin-bottom:0em;
margin-left:1.5em;
text-indent:-1.5em;
text-align:left;
font-weight:normal;
font-style:normal;
}
.bmindentnum
{
font-family:serif;
font-size:0.95em;
margin-top:0.2em;
margin-bottom:0em;
margin-left:3em;
text-indent:-3em;
text-align:left;
font-weight:normal;
font-style:normal;
}